@import url('./admin_main_basic.css');

.search_result_list {
    border-top: 1px solid var(--iruri-blue-color);
    text-align: left;
}

.search_result_list,
.search_result_list tr,
.search_result_list th,
.search_result_list td {
    padding: 26px 30px;
    text-align: left;
}

.result_container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

.result_container>h3 {
    font-size: 24px;
    color: var(--iruri-indigo-color);
    text-align: center;
    margin: 68px 0 34px 0;
}

.result_container>p {
    font-size: 14px;
    margin: 0 30px;
    margin-bottom: 17px;
    color: var(--iruri-indigo-color);
}

.result_container>p>span {
    font-size: 14px;
    color: var(--iruri-blue-color);
}

.search_result_list {
    width: 100%;
    border-top: 1px solid var(--iruri-blue-color);
}

.result_class_title {
    display: inline-block;
    font-family: 'Cafe24SsurroundAir';
    font-size: 28px;
    margin-bottom: 26px;
    margin-right: 30px;
    color: var(--iruri-blue-color);
}

.result_location {
    display: inline-block;
    font-size: 18px;
    color: var(--iruri-indigo-color);
    position: relative;
    top: -2px;
}

.result_location>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 11px;
    /* background-color: violet; */
    background-image: url('../images/icon/page_arrow_lightBlue_right.png');
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /* top: 3px; */
}

.tag_type_blue,
.tag_type_red {
    display: inline-block;
    padding: 3px 8px;
    /* height: 19px; */
    border-radius: 15px;
}

.tag_type_blue {
    background-color: var(--iruri-light-blue-color)
}

.tag_type_red {
    background-color: var(--iruri-red-color);
}

.tag_icon {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    /* background-color: chartreuse; */
    margin-right: 5px;
}

.__level {
    background-image: url('../images/icon/ex_level.png');
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.__time {
    background-image: url('../images/icon/ex_time.png');
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.tag_text {
    font-size: 12px;
    position: relative;
    color: white;
}

.result_class_etcInfo {
    position: relative;
    top: 1.5px;
    display: inline-block;
    font-size: 16px;
    color: var(--iruri-gray-color);
    margin-left: 10px;
}

.result_community_title {
    font-family: 'Cafe24SsurroundAir';
    font-size: 26px;
    color: var(--iruri-indigo-color);
    display: inline-block;
    margin-right: 32px;
}  

.page_nation {
    
    margin-bottom: 160px;
}
