@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../font/Cafe24Ssurround.ttf') format('truetype');
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf') format('truetype');
}


:root {
    /* font-size */
    --header-gnb-font-size: 22px;
    --header-side-nav-font-size: 12px;
    --footer-title-font-size: 20px;
    --footer-normal-font-size: 13px;

    /* colors */
    --iruri-red-color: #ff0000;
    --iruri-yellow-color: #ffeb00;
    --iruri-blue-color: #185abd;
    --iruri-light-blue-color: #02a3ff;
    --iruri-green-color: #80ff48;
    --iruri-indigo-color: #0a1931;
    --iruri-dark-gray-color: #666666;
    --iruri-gray-color: #999;
    --iruri-light-gray-color: #cccccc;
}


/* ---------------- 공통 여백, 기본 폰트, a태그 데코 없음 ----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunGothic', sans-serif;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}
/* ---------------- 웹사이트 가로 크기 ------------- */
.wrap {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

/* ---------------- 유저정보 박스 ------------------ */
.userInfoBox {
    margin-top: 40px;
    padding: 30px 33px;
}

.userInfoBox h2 {
    font-family: 'Cafe24Ssurround';
    font-size: 28px;
    color: var(--iruri-blue-color);
    margin-bottom: 40px;
}

.userInfoBox p {
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    line-height: 25px;
    color: var(--iruri-gray-color);
}

/* ---------------- 관리메뉴 바 ------------------ */
#admin_managementMenu {
    height: 77px;
    line-height: 62px;
    padding: 0 35px;
    padding-top: 9px;
    background-color: var(--iruri-indigo-color);
    color: var(--iruri-light-gray-color);
    border-radius: 30px;
}

#admin_managementMenu ul li {
    font-family: 'Cafe24SsurroundAir';
    height: 100%;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin-right: 42px;
    cursor: pointer;
}

#admin_managementMenu a {
    color: var(--iruri-light-gray-color);
}

.admin_active {
    color: var(--iruri-yellow-color);
}

.under_line {
    display: flex;
    width: 120%;
    height: 6px;
    vertical-align: bottom;
    background: var(--iruri-red-color);
    transform: translate(-10%);
}


/* ------------ 탭 메뉴 라디오타입으로 만들기 ------------- */

#admin_memberTabMenu {
    width: 100%;
    height: 94px;
    padding: 0 32px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    line-height: 105px;
}

#admin_memberTabMenu label {
    display: inline-block;
    margin-right: 55px;
    cursor: pointer;
    color: var(--iruri-gray-color);
}

#admin_memberTabMenu input[type="radio"] {
    display: none;
}

#admin_memberTabMenu input:checked+label {
    color: var(--iruri-blue-color);
}



/* ---------------- 테이블 기본 여백 및 선 ------------- */
.admin_table,
.admin_table tr,
.admin_table th,
.admin_table td {
    border: 0;
    border-collapse: collapse;
    clear: both;
    padding: 15px 35px;
    text-align: center;
}

.admin_table {
    width: 100%;
}

.admin_table th {
    border-top: 1px solid var(--iruri-blue-color);
    border-bottom: 1px solid var(--iruri-blue-color);
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    color: var(--iruri-dark-gray-color);
    font-weight: 200;
}

.admin_table td {
    border-bottom: 1px solid var(--iruri-light-gray-color);
}


/* ------------------ 테이블 글자 스타일 ---------------- */

.table_No_date {
    font-size: 18px;
    color: var(--iruri-gray-color);
}

.table_indigo_text {
    font-size: 18px;
    color: var(--iruri-indigo-color);
}

.table_blue_text {
    font-size: 18px;
    color: var(--iruri-blue-color);
}

.table_red_text {
    font-size: 18px;
    color: var(--iruri-red-color);
}
.table_gray_text {
    font-size: 18px;
    color: var(--iruri-gray-color);
}


/* ---------------- 리스트 강조 ---------------- */
.list_impact:hover {
    cursor: pointer;    
    background-color: rgba(204,204,204,0.1);
}


/* ---------------- 페이징 태그 ---------------- */
.page_nation {
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 110px;
    justify-content: center;
}

.page_nation a {
    display: block;
    margin: 0 10px;
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: var(--iruri-gray-color);
    text-decoration: none;
}

.page_nation .prev {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_left.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-right: 7px;
}

.page_nation .next {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_right.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-left: 7px;
}

.page_nation a.admin_active {
    background-color: var(--iruri-red-color);
    color: var(--iruri-yellow-color);
    border-radius: 18px;
}

/* ---------------------------- 입력값에 대한 경고 -------------------------- */
.admin_notice {
    margin-top: 10px;
    font-size: 12px;
    color: var(--iruri-red-color);
    display: none;
}