@charset "utf-8";

/*----------공통사항---------*/

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.ttf');
    /* format('truetype'); */
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../font/Cafe24Ssurround.ttf');
    /* format('truetype'); */
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf');
    /* format('truetype'); */
}

 :root {
    /* font-size */
    --header-gnb-font-size: 22px;
    --header-side-nav-font-size: 12px;
    --footer-title-font-size: 20px;
    --footer-normal-font-size: 13px;
    /* colors */
    --iruri-red-color: #ff0000;
    --iruri-yellow-color: #ffeb00;
    --iruri-blue-color: #185abd;
    --iruri-light-blue-color: #02a3ff;
    --iruri-green-color: #80ff48;
    --iruri-indigo-color: #0a1931;
    --iruri-dark-gray-color: #666;
    --iruri-gray-color: #999;
    --iruri-light-gray-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunGothic', sans-serif;
}

.c_container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}


/*---------------------------------------------*/

div {
    display: block;
}

.c_detail_main,
.c_detail_maininfo,
.c_reply_insert,
.c_reply {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}


/*챌린지 대표이미지*/

.c_detail_start {
    margin-top: 80px;
}


/*챌린지 상세페이지 대표 이미지*/

.c_detail_img img{
    width: 537px;
    height: 490px;
    background: no-repeat;
    border-radius: 50px;
    margin-right: 50px;
    float: left;
    margin-bottom: 127px;
}


/*이미지 옆 정보 부분*/

.c_detail_info1 {
    float: left;
    width: 557px;
    padding: 10px 0;
    border-bottom: 1px solid var(--iruri-blue-color);
}

.c_detail_info2 {
    float: left;
    margin-top: 16px;
    width: 557px;
    padding: 10px 0;
    height: 226px;
}


/*챌린지, 클래스 미니 카테고리*/

.c_mini_subject {
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color);
    margin-bottom: 18px;
}


/*챌린지 큰 제목*/

.c_subject {
    font-family: 'Cafe24Ssurround';
    font-size: 32px;
    color: var(--iruri-blue-color);
    margin-bottom: 18px;
}


/*챌린지 하트수*/

.c_heart_count {
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-red-color);
    margin-bottom: 14px;
}

.iruri_heart_icon {
    display: inline-block;
    background-size: cover;
    height: 15px;
    width: 16px;
    background: url('/ex/resources/src/img/icon/heart_red.png') center/16px no-repeat;
}


/*챌린지 목표*/

.c_detail_goal {
    height: 100px;
    font-size: 16px;
    line-height: 25px;
    color: var(--iruri-dark-gray-color);
}


/*챌린지 상단(정보)*/

.info_ul {
    float: left;
}

.c_mini_info1 {
    font-family: 'Cafe24SsurroundAir';
    font-size: 14px;
    color: var(--iruri-gray-color);
    padding: 5px 0;
    width: 85px;
}

.c_mini_info2 {
    font-family: 'Cafe24SsurroundAir';
    font-size: 14px;
    color: var(--iruri-blue-color);
    padding: 5px 0;
    width: 200px;
}

ul li {
    list-style-type: none;
}


/*참여완료 문구(참여중인 챌린지 입니다)*/

.c_join_completion {
    background-color: var(--iruri-light-gray-color);
    color: var(--iruri-yellow-color);
    width: 240px;
    height: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 27px;
    cursor: pointer;
    float: right;
    position: relative;
    top: 150px;
}


/*상세정보, 인증하기 , 커뮤니티*/

.c_menu {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 60;
    border-bottom: 1px solid var(--iruri-dark-gray-color);
}

.c_menu ul {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.c_menu a {
    text-decoration: none;
}

.c_menu ul li {
    width: 20%;
    height: 70px;
    display: inline-block;
    font-size: 27px;
    line-height: 70px;
    font-family: 'Cafe24SsurroundAir';
    color: var(--iruri-indigo-color);
}


/*메뉴바 스티키*/

.c_menu.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    background: var(--iruri-yellow-color);
    color: var(--iruri-indigo-color);
}

.c_menu.sticky ul {
    text-align: center;
    width: 1200px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
}

.c_menu.sticky ul li {
    width: 240px;
    height: 70px;
    display: inline-block;
    font-size: 27px;
    line-height: 70px;
}


/*챌린지 상세정보*/

.c_detail_maininfo {
    height: auto;
    display: flex;
    width: 1200px;
}

.c_main_info {
    width: 1200px;
    padding: 0 60px;
    font-size: 20px;
    color: var(--iruri-dark-gray-color);
    line-height: 35px;
    height: auto;
    margin-bottom: 116px;
    margin-top: 76px;
}


/*밑줄효과*/

.c_menu_hover {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
}

.c_menu_hover.sticky {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: 70;
    transform: translateX(-60px);
}

.c_menu li,
.c_menu_hover {
    transition: all 0.35s ease-in-out;
}


/*인증사진 리스트*/

.c_certify_after {
    background-color: var(--iruri-blue-color);
    padding-top: 118px;
}


/*인증글 총 수 */

.c_certify_total {
    text-align: right;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

.c_certify_total span {
    margin-bottom: 8px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 17px;
    border: 1px solid white;
    padding: 8px 16px;
    position: relative;
    right: 9px;
    bottom: 8px;
}


/*인증사진 리스트*/

.c_certify_img_list {
	max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    padding-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 270px);
    justify-content: center;
    gap: 35px;
    margin-top: 8px;
}

.c_certify_img {
    width: 270px;
    height: 270px;
    margin-bottom: 36px;
    cursor: pointer;
    border: none;
    margin: 0 36px 36px 0;
}

.c_certify_img_list .c_certify_img img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.c_certify_img_list div:nth-of-type(4n) {
    margin: 0 0 36px 0;
}


/*인증글페이징*/

.page_nation_certify {
    display: flex;
    width: 100%;
    padding-bottom: 42px;
    justify-content: center;
    background-color: var(--iruri-blue-color);
}


/*인증하기 버튼*/

.c_certify_button_div {
    padding-bottom: 140px;
    clear: both;
    background-color: var(--iruri-blue-color);
}

.c_certify_button {
    width: 196px;
    height: 55px;
    border-radius: 27px;
    font-size: 16px;
    background-color: var(--iruri-yellow-color);
    color: var(--iruri-blue-color);
    text-align: center;
    line-height: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    position: relative;
    left: -360px;
    font-weight: bold;
}


/*댓글페이징*/

.page_nation {
    display: flex;
    width: 100%;
    padding-bottom: 85px;
    justify-content: center;
}

.page_nation a,
.page_nation_certify a {
    display: block;
    margin: 0 10px;
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: var(--iruri-gray-color);
    text-decoration: none;
}

.page_nation_certify .prev {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_left_light_blue.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-right: 7px;
}

.page_nation_certify .next {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_right_light_blue.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-left: 7px;
}

.page_nation .prev {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_left.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-right: 7px;
}

.page_nation .next {
    position: relative;
    top: 9px;
    background: transparent url('/ex/resources/src/img/icon/icon_page_arrow_right.png') no-repeat center center;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-left: 7px;
}

.page_nation a.active,
.page_nation_certify a.active {
    background-color: var(--iruri-red-color);
    color: var(--iruri-yellow-color);
    border-radius: 18px;
}


/* 댓글입력상자 */

.c_reply_insert {
    padding: 85px 0 0 0;
}

.c_reply_insertBox {
    width: inherit;
    height: 111px;
    padding: 24px 38px;
    border: 1px solid var(--iruri-blue-color);
    border-radius: 30px;
    margin-bottom: 26px;
    display: flex;
}

.c_reply_insertBox table {
    width: 100%;
}

.c_reply_textarea {
    width: 95%;
}

.c_reply_insertButton {
    width: 5%;
    text-align: right;
}

.c_reply_insertButton>button {
    font-size: 18px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--iruri-blue-color);
}

.c_reply_textarea>textarea {
    width: 98%;
    height: 100%;
    resize: none;
    font-size: 18px;
    line-height: 27px;
    font-family: 'NanumBarunGothic';
    color: var(--iruri-indigo-color);
    outline: none;
    border: none;
}

.c_reply_textarea>textarea::placeholder {
    font-size: 16px;
    font-family: 'NanumBarunGothic';
    color: var(--iruri-gray-color);
}


/* 댓글리스트 */

.c_reply {
    height: auto;
    padding: 0 0 85px 0;
}

table,
tr,
td {
    border: 0;
    border-collapse: collapse;
    clear: both;
}

.c_after_reply {
    height: auto;
    padding: 0 0 85px 0;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

.reply_count {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    left: 100%;
    transform: translate(-100%);
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: var(--iruri-blue-color);
    border-radius: 17px;
    border: 1px solid var(--iruri-blue-color);
    padding: 8px 16px;
}

.reply_table td:nth-of-type(1),
.reply_table td:nth-of-type(2) {
    padding: 23px 35px;
    border-top: 1px solid var(--iruri-light-gray-color);
    border-bottom: 1px solid var(--iruri-light-gray-color);
}

.reply_nickname {
    width: 145px;
    vertical-align: top;
    color: var(--iruri-indigo-color);
    font-size: 18px;
    font-weight: bold;
}

.reply_content {
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--iruri-dark-gray-color);
    line-height: 25px;
}

.reply_date {
    font-size: 14px;
    color: var(--iruri-gray-color);
}

td.reply_button {
    width: 150px;
    padding: 0 38px 0 0;
    text-align: right;
    border-top: 1px solid var(--iruri-light-gray-color);
    border-bottom: 1px solid var(--iruri-light-gray-color);
}

.reply_button>button {
    font-size: 14px;
    color: var(--iruri-gray-color);
    padding: 5px;
    border: 1px solid var(--iruri-gray-color);
    border-radius: 5px;
    outline: none;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}


/*댓글 없을때 문구*/

.c_list_not {
    text-align: center;
    font-family: 'Cafe24Ssurround', sans-serif;
    font-size: 24px;
    color: var(--iruri-blue-color);
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    position: relative;
    left : 450px;
}

/*인증하기 모달*/

#c_certify_modal,
#c_certify_modify_modal {
    position: relative;
    z-index: 900;
    width: 100%;
    height: 100%;
    display: none;
}


.modal_layer {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.4);
}

.c_certify_modal_start {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 30px;
    border: 2px solid var(--iruri-blue-color);
    border-radius: 50px;
    background: #fff;
    position: fixed;
    padding: 44px 70px;
}

.c_modal_close>img {
    float: right;
    width: 28px;
    cursor: pointer;
}

.c_certify_modal_start>form {
    width: 100%;
}

.c_certify_modal_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.c_certify_modal_ul {
    margin-bottom: 40px;
    line-height: 25px;
}

.c_certify_modal_ul li {
    list-style: none;
    position: relative;
    top: 15px;
    color: var(--iruri-gray-color);
}


/*인증글 올리기 버튼*/

.modal_button {
    text-align: center;
    margin: 80px 0 30px 0;
}

.modal_button button {
    width: 190px;
    height: 55px;
    border-radius: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-right: 22px;
}

.c_certify_modal_submit,
.c_certify_modify_submit {
    background-color: var(--iruri-blue-color);
    color: var(--iruri-yellow-color);
}



/*제목, 내용, 사진첨부*/

form div p {
    color: var(--iruri-blue-color);
    font-size: 16px;
    width: 100px;
    line-height: 44px;
    height: 44px;
    float: left;
}


/*인풋박스*/

form div input {
    height: 44px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: 1px solid var(--iruri-light-gray-color);
    outline: none;
    padding: 3px 20px;
    color: var(--iruri-indigo-color);
    font-size: 14px;
}

.inputbox_cetify1 {
    width: 400px;
}

.inputbox_certify2 {
    width: 350px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--iruri-light-gray-color);
    margin-bottom: 24px;
    outline: none;
    padding: 3px 20px;
    color: var(--iruri-indigo-color);
    font-size: 14px;
    resize: none;
    line-height: 40px;
}


/*파일 업로드*/

.c_certify_img_button >span {
    position: relative;
    top: 10px;
}

.certify_file_upload {
    margin-right: 5px;
    margin-left: -30px;
    position: relative;
    top: 10px;
}

input[type=file] {
    display: none;
}

.c_certify_img_button input[type=file]+label {
    display: inline;
    cursor: pointer;
    padding: 20px 80px;
    background: url('/ex/resources/src/img/icon/img_upload.png') center center no-repeat;
    background-size: 70%;
}

.c_certify_img_button input[type=file]:checked+label {
    background-image: url('/ex/resources/src/img/icon/img_upload.png');
}

.uploadResult {
    margin-bottom: 36px;
    position: relative;
    top: 35px;
    color: var(--iruri-gray-color);
}


/*댓글 신고 모달*/

.c_complain_modal {
    position: relative;
    z-index: 900;
    width: 100%;
    height: 100%;
    display: none;
}

.modal_layer {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.4);
}

.c_complain_modal_start {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    position: fixed;
    padding: 44px 70px;
    width: 600px;
    padding: 30px;
    border: 2px solid var(--iruri-blue-color);
    border-radius: 50px;
}

.c_complain_modal_start>form {
    width: 100%;
}

.c_complain_modal_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.c_complain_modal_label {
    line-height: 35px;
    margin-right: 25px;
}

.c_complain_modal input[type=radio] {
    display: none;
}

.c_complain_modal input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    padding-left: 30px;
    background: url('/ex/resources/src/img/icon/check_no.png') left/22px no-repeat;
}

.c_complain_modal input[type=radio]:checked+label {
    background-image: url('/ex/resources/src/img/icon/check_yes.png');
}

.c_complain_modal_ul {
    margin-left: 90px;
}

.c_complain_modal_ul li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
}


/*취소, 신고하기 버튼*/

.modal_button {
    text-align: center;
    margin: 50px 25px 25px 25px;
}

.modal_button button {
    width: 150px;
    height: 55px;
    border-radius: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-right: 22px;
}

.c_complain_modal_cancle {
    background-color: var(--iruri-light-gray-color);
    color: white;
}

.c_complain_modal_submit {
    background-color: var(--iruri-blue-color);
    color: var(--iruri-yellow-color);
}

.c_complain_modal_submit:disabled {
    background-color: var(--iruri-light-gray-color);
    color: white;
}


/*내 인증글 보기 모달*/

.c_myCertify_modal {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: none;
}

.modal_layer {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.4);
}

.c_myCertify_modal_start {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    position: fixed;
    width: 700px;
    padding: 40px;
    border: 2px solid var(--iruri-blue-color);
    border-radius: 50px;
}

.c_myCertify_modal_start>form {
    width: 100%;
}


/*내 인증사진*/

.myCertify_img {
    width: 616px;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.myCertify_img img {
	height: 100%;
}

/*작성날짜, 닉네임, 제목, 내용*/

.myCertify_myInfo {
    margin: 20px 0;
}

.myCertify_date {
    font-size: 14px;
    color: var(--iruri-light-gray-color);
    margin-right: 10px;
}

.myCertify_nickname {
    font-size: 16px;
    color: var(--iruri-blue-color);
}

.myCertify_title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.myCertify_content {
    height: auto;
}


/*수정, 삭제, 확인 버튼*/

.modal_button {
    margin-top: 40px;
}

.modal_button button {
    height: 55px;
    border-radius: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-right: 15px;
}

.modal_button .c_myCertify_modal_submit {
    width: 150px;
    background-color: var(--iruri-blue-color);
    color: var(--iruri-yellow-color);
    float: right;
}

.modal_button .c_myCertify_modal_submit2 {
    width: 75px;
    background-color: var(--iruri-light-gray-color);
    color: white;
    float: left;
}

.modal_button .c_myCertify_modal_submit3 {
    width: 75px;
    background-color: var(--iruri-light-gray-color);
    color: white;
    float: left;
}

/*댓글 수정 모달*/

.reply_modify_modal {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}

.modal_layer {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.4);
}

.reply_modify_modal_start {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    position: fixed;
    padding: 44px 70px;
    width: 600px;
    padding: 30px;
    border: 2px solid var(--iruri-blue-color);
    border-radius: 50px;
}

.reply_modify_modal_start>form {
    width: 100%;
}

.reply_modify_modal_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.reply_modify_modal_cancle {
    background-color: var(--iruri-light-gray-color);
    color: white;
}

.reply_modify_modal_submit {
    background-color: var(--iruri-blue-color);
    color: var(--iruri-yellow-color);
}

.reply_modify_content {
    text-align: center;
}

.inputbox_certify2 {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--iruri-light-gray-color);
    outline: none;
    color: var(--iruri-indigo-color);
    font-size: 14px;
    resize: none;
}