@charset "utf-8";

/*----------공통사항---------*/

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.ttf');
    /* format('truetype'); */
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../font/Cafe24Ssurround.ttf');
    /* format('truetype'); */
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf');
    /* format('truetype'); */
}

:root {
    /* font-size */
    --header-gnb-font-size: 22px;
    --header-side-nav-font-size: 12px;
    --footer-title-font-size: 20px;
    --footer-normal-font-size: 13px;
    /* colors */
    --iruri-red-color: #ff0000;
    --iruri-yellow-color: #ffeb00;
    --iruri-blue-color: #185abd;
    --iruri-light-blue-color: #02a3ff;
    --iruri-green-color: #80ff48;
    --iruri-indigo-color: #0a1931;
    --iruri-dark-gray-color: #666;
    --iruri-gray-color: #999;
    --iruri-light-gray-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunGothic', sans-serif;
}

.c_container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}


/*---------------------------------------------*/


/*챌린지 폼 가로 길이*/

.c_makeForm {
    margin: 0 auto;
    width: 660px;
}


/*챌린지 개설 타이틀*/

.c_makeForm_title {
    margin-top: 65px;
    margin-bottom: 44px;
    font-size: 22px;
    color: var(--iruri-indigo-color);
    font-family: 'Cafe24Ssurround';
    width: 660px;
    text-align: center;
    margin-bottom: 50px;
}

.c_makeForm_insert {
    position: relative;
    padding: 44px 70px;
}


/*챌린지명, 운동종류..*/

form div p {
    color: var(--iruri-blue-color);
    font-size: 16px;
    width: 135px;
    float: left;
    line-height: 44px;
    height: 44px;
}


/*인풋박스*/

form div input:not(.c_goal) {
    height: 44px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: 1px solid var(--iruri-light-gray-color);
    outline: none;
    padding: 3px 20px;
    color: var(--iruri-indigo-color);
    font-size: 14px;
}

.c_kind,
.c_strength,
.c_period,
.c_exNum,
.c_person,
.c_img_direct,
.c_img_basic {
    margin-bottom: 24px;
    height: 44px;
}

.c_goal {
    margin-bottom: 24px;
}


/*체크박스*/

.cb_label {
    line-height: 44px;
    margin-right: 25px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    padding-left: 30px;
    background: url("/ex/resources/src/img/icon/check_no.png") left/22px no-repeat;
}

input[type=checkbox]:checked+label {
    background-image: url("/ex/resources/src/img/icon/check_yes.png");
}


/*라디오버튼 */

.rd_label {
    line-height: 44px;
    margin-right: 25px;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    padding-left: 30px;
    background: url("/ex/resources/src/img/icon/check_no.png") left/22px no-repeat;
}

input[type=radio]:checked+label {
    background-image: url("/ex/resources/src/img/icon/check_yes.png");
}


/*파일올리기 버튼*/

.file_upload {
    margin-right: 5px;
    margin-left: -30px;
}

input[type=file] {
    display: none;
}

input[type=file]+label {
    display: inline;
    cursor: pointer;
    padding: 20px 80px;
    background: url("/ex/resources/src/img/icon/img_upload.png") center center no-repeat;
    background-size: 70%;
}

input[type=file]:checked+label {
    background-image: url("/ex/resources/src/img/icon/img_upload.png");
}


/*인풋박스 사이즈들*/

.inputbox_size1 {
    width: 525px;
}

.inputbox_size2 {
    width: 263px;
}

.goal_textarea {
    width: 525px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid var(--iruri-light-gray-color);
    margin-bottom: 24px;
    outline: none;
    padding: 3px 20px;
    color: var(--iruri-indigo-color);
    font-size: 14px;
    resize: none;
}

input[type=date] {
    width: 245.915px;
}


/*대표이미지 기본이미지*/

.c_img_list {
    clear: both;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 77px;
}

.c_img_detail {
    display: inline-block;
    text-align: center;
    width: 123px;
    height: 123px;
    border: 1px solid;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--iruri-gray-color);
}


/*취소, 등록 버튼*/

.button button {
    width: 190px;
    height: 55px;
    border-radius: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-right: 22px;
}

.c_make_button_cancle {
    background-color: var(--iruri-light-gray-color);
    color: white;
}

.c_make_button_submit {
    background-color: var(--iruri-blue-color);
    color: var(--iruri-yellow-color);
}