.login__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--NanumBarunGothic);
  width: 660px;
  margin: 0 auto;
}

.login__title {
  font-size: 22px;
  color: var(--iruri-indigo-color);
  margin: 68px 0 34px;
}

.login__wrap > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-email label,
.login-password label {
  width: 115px;
  padding: 16px 0 24 0;
  font-size: 14px;
  color: var(--iruri-gray-color);
}

.login-email input,
.login-password input {
  font-size: 16px;
  color: var(--iruri-indigo-color);
  height: 44px;
  border: none;
  outline: none;
  background-color: inherit;
  width: 275px;
}

.login-email input::placeholder,
.login-password input::placeholder {
  color: var(--iruri-light-gray-color);
}

.login-email,
.login-password {
  border-bottom: 2px solid var(--iruri-blue-color);
  padding: 10px 0 5px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#auto-login,
#remember-email {
  display: none;
}

.login-remember {
  height: 30px;
  align-self: flex-start;
  margin: 25px 0;
}

.login-remember label {
  margin-right: 30px;
}

.login-remember .iruri-check-yes-icon,
.login-remember .iruri-check-no-icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 4.5px;
}

.login-submit {
  height: 55px;
  font-size: 18px;
  color: var(--iruri-yellow-color);
  background-color: var(--iruri-blue-color);
  width: 390px;
  border-radius: 30px;
  outline: none;
  border: none;
}

.login__wrap hr {
  margin: 25px 0;
  width: 390px;
}

.social-login__title {
  text-align: center;
  font-size: 16px;
  color: var(--iruri-dark-gray-color);
  margin-bottom: 25px;
}

.social-login a {
  width: 390px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.social-login a span {
  width: 100%;
  text-align: center;
  position: relative;
  right: 40px;
}

.social-login a:nth-of-type(1) {
  background-color: var(--iruri-yellow-color);
}

.social-login a:nth-of-type(2) {
  margin: 5px 0;
  background-color: rgb(0, 208, 0);
  color: white;
}

.social-login a:nth-of-type(3) {
  background-color: var(--iruri-red-color);
  color: white;
}

.kakao-icon,
.naver-icon,
.google-icon {
  width: 90px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kakao-icon {
  background-image: url("/ex/resources/src/img/icon/icon_kakaotalk.png");
}

.naver-icon {
  background-image: url("/ex/resources/src/img/icon/icon_naver.png");
}

.google-icon {
  background-image: url("/ex/resources/src/img/icon/icon_google.png");
}

.login-find {
  margin: 25px 0 128px;
}

.login-find a {
  font-size: 16px;
  color: var(--iruri-dark-gray-color);
}

.iruri__wrapper + .c_make_modal_start {
  padding-left: 100px;
  padding-right: 100px;
}

.password_find_formBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  position: relative;
}

.password_find_formBox label {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin-right: 10px;
}

.password_find_formBox_new label {
  width: 446px;
  margin: 0px;
}

.password_find_formBox span {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--iruri-blue-color);
}

.password_find_formBox input {
  height: 44px;
  border: 1px solid var(--iruri-light-gray-color);
  border-radius: 5px;
  padding: 20px;
  color: var(--iruri-indigo-color);
  outline: none;
}

.password_find_formBox .pass_find_submit_button,
.password_find_formBox button {
  color: var(--iruri-yellow-color);
  background-color: var(--iruri-blue-color);
}

.password_find_formBox button {
  border-radius: 25px;
  width: 110px;
  height: 44px;
  font-size: 14px;
}

.password_find_formBox .pass_find_submit_button {
  border-radius: 25px;
  width: 200px;
  height: 51px;
  margin-top: 45px;
}

.c_make_modal .password_find_formBox button:disabled {
  color: white;
  background-color: var(--iruri-light-gray-color);
}

.emailValidate,
.authNumberValidate,
.newPwValidate {
  position:relative;
  left: 95px;
  margin-top: 10px;
  color: var(--iruri-red-color);
}