/* ------------------------------------------------ */
/* 콘텐츠 */
/* 회원정보 */
.container content {
  position: relative;
}

.m_information_box{
  margin: 30px;
  padding: 30px 33px;
  font-family: 'Cafe24SsurroundAir';
  display: flex;
}  
.m_information_box>#m_userinformation_box{
  flex: 5;
} 
.m_information_box>#m_userboard_box{
  flex: 4;
} 
.m_information_box>#m_userpoint_box{
  flex: 4;
} 
.m_information_box>#m_userchanllenge_box{
  flex: 3;
} 
.m_information_box>#um_serclass_box{
  flex: 3;
} 
  /* userboard_box */
  #m_userboard_box>#m_userboard{
    padding-left: 80px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color); 
  }
  #m_userboard_box>#m_userboard_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left: 70px;
    padding-top: 40px;
  }
  /* userpoint_box */
  #m_userpoint_box>#m_userpoint{
    padding-left: 60px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color); 
  }
  #m_userpoint_box>#m_userpoint_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left:20px;
    padding-top: 40px;
  }
  /* userchallenge */
  #m_userchanllenge_box>#m_userchanllenge{
    padding-left: 35px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 15px;
    color: var(--iruri-gray-color);
  }
  #m_userchanllenge_box>#m_userchanllenge_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left:78px;
    padding-top: 40px;
  }
  
  /* userclass */
  #m_userclass_box>#m_userclass{
    padding-left:  60px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color);
  }
  #m_userclass_box>#m_userclass_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left:100px;
    padding-top: 40px;
  }

.border1{
  border:1px solid var(--iruri-blue-color)
}

  /* 게시판리스트 박스 */
.m_board_box{
  margin: 30px;
  height: 77px;
  border-radius: 30px;
  padding: 10px 80px;
  padding-right:400px;
  background-color:var(--iruri-blue-color);
  display: flex;


  }


.m_board_box>#m_boardlist_box{
  flex: 35%;
  padding-top: 15px;
}
.m_board_box>#m_confirmlist_box{
  flex: 35%;
  padding-top: 15px;
}
.m_board_box>#m_commentlist_box{
  flex: 35%;
  padding-top: 15px;
}


#m_now_boardlist{
  font-family: 'Cafe24SsurroundAir';
  font-size: 18px;
  color:var(--iruri-gray-color);

}

#m_now_boardlistnb{
  font-family: 'Cafe24SsurroundAir';
  font-size: 30px;
  color:var(--iruri-yellow-color);
  position: relative;
  top: -28px;
  text-align: center;

  
}

#m_now_confirmlist{
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    color:var(--iruri-gray-color);
    
}
    
#m_now_confirmlistnb{
  font-family: 'Cafe24SsurroundAir';
  font-size: 30px;
  color:var(--iruri-yellow-color);
  position: relative;
  top: -28px;
  text-align: center;
 
  
    }

#m_now_commentlist{
        font-family: 'Cafe24SsurroundAir';
        font-size: 18px;
        color:var(--iruri-gray-color);
        
}
        
#m_now_commentlistnb{
  font-family: 'Cafe24SsurroundAir';
  font-size: 30px;
  color:var(--iruri-yellow-color);
  position: relative;
  top: -28px;
  text-align: center;

  
        
}


/* 게시글 list (인증글)  */
.m_userboardlist{
  margin: 10px;
  padding: 20px 80px;
 
  display: flex;
}
.m_userboardlist>#m_confirm_list_type{
  flex: 0.2;
}
.m_userboardlist>#m_board_list_img{
  flex: 1;
}
.m_userboardlist>#m_board_list_content{
  flex: 4;
  padding-left: 40px;
}

#m_confirm_list_type{
  padding: 9px 15px;

  /* font-weight: bold; */
  font-size:11px;
border-radius: 20px;
background-color: var(--iruri-red-color);
color: var(--iruri-light-gray-color);
width: 40px;
height: 30px;
}

#m_board_list_img>#img{
  float: right;
  width: 150px;
  height: 150px;
  border-radius: 20px;

 
}
#m_board_list_title{
  font-weight: bold;
font-size: 20px;
color: var(--iruri-indigo-color);
margin-bottom: 20px;
}

#m_board_list_content{
  font-size: 18px;
line-height: 27px;
color:var(--iruri-dark-gray-color);
margin-bottom: 10px;

}
#m_board_list_date{
  font-size: 16px;
color:var(--iruri-gray-color);
}

.border1{
  border:0.5px solid var(--iruri-light-gray-color)
}

/* 게시글 */
.m_userboardlist>#m_board_list_type{
  flex: 0.2;
}
#m_board_list_type{
  padding: 9px 15px;

  /* font-weight: bold; */
  font-size:11px;
color: var(--iruri-yellow-color);
border-radius: 20px;
background-color:var(--iruri-blue-color);
width: 40px;
height: 30px;
}



/* 댓글 */
.m_userboardlist>#m_comment_list_type{
  flex: 0.1;
}
#m_comment_list_type{
  padding: 9px 14px;
  /* font-weight: bold; */
  font-size:12px;
color: var(--iruri-blue-color);
border-radius: 20px;
background-color:var(--iruri-yellow-color);
width: 40px;
height: 30px;
}


/* 페이징 */
.page_nation {
  display: flex;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 110px;
  justify-content: center;
}

.page_nation a {
  display: block;
  margin: 0 10px;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: var(--iruri-gray-color);
  text-decoration: none;
}

.page_nation .prev {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_left.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-right: 7px;
}

.page_nation .next {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_right.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-left: 7px;
}

.page_nation a.active {
  background-color: var(--iruri-red-color);
  color: var(--iruri-yellow-color);
  border-radius: 18px;
}



