/* 수익관리 */
.display_flex{
    display: flex;
}
.pt_profit_graph{
   /* flex: 4; */
   /* background-color: #dffffd; */
   width: 450px;
   height: 300px;
   padding: 50px;
   position: relative;
   top: 50px;
   left:-30px;
}

.pt_profit{
   flex: 7;
   /* background-color: #ddffdd; */
    padding: 50px 0px;
  }
  
.pt_profit_image{
  width: 500px;
  background-color: var(--iruri-gray-color);
}

.pt_month_text{
  font-family: 'Cafe24SsurroundAir';
font-size: 23px;
color: var(--iruri-blue-color);
margin: 27px 35px;

}

.pt_month_number{
   display: table-cell;
   margin:0;
   width: 80%;
   font-family: 'Cafe24SsurroundAir';
   font-size: 50px;
   color: var(--iruri-indigo-color);
   padding: 50px 35px 30px 35px;
   vertical-align: bottom;

}
.pt_won{
   font-family: 'Cafe24SsurroundAir';
   font-size: 50px;
   color: var(--iruri-indigo-color);
}

.arrow_width_up_down{
  width: 30px;
  
}

.pt_class_profit{
  width: 725px;
  font-size: 18px;
  padding: 20px 35px;
  
}
.pt_class_profit_date{
  color: var(--iruri-gray-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt_class_profit_title{
  color: var(--iruri-indigo-color);
}

.pt_class_profit_money{
  color: var(--iruri-blue-color);
  font-weight: bold;
}


.pt_class_profit {
  border-collapse: collapse;
  border: none;
}

.pt_class_profit tr, 
.pt_class_profit td {
  padding-left: 20px;
  border-top: 1px solid var(--iruri-light-gray-color);
  border-bottom: 1px solid var(--iruri-light-gray-color);
  text-align: left;
}

.pt_pre_month>span,
.pt_next_month>span {
  display: block;
  margin-bottom: 10px;
}

.pt_pre_month, .pt_next_month {
  padding: 40px 0 30px 0;
  width: 10%;
  text-align: center;
  font-size: 12px;
  color: var(--iruri-dark-gray-color);
}
