/* ------------------------------------------------ */
  /* 콘텐츠 */
  /* 회원정보 */
  .container content {
    position: relative;
  }
  
  .m_information_box{
    margin: 30px;
    padding: 30px 33px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
  }  
  .m_information_box>#m_userinformation_box{
    flex: 5;
  } 
  .m_information_box>#m_userboard_box{
    flex: 4;
  } 
  .m_information_box>#m_userpoint_box{
    flex: 4;
  } 
  .m_information_box>#m_userchanllenge_box{
    flex: 3;
  } 
  .m_information_box>#um_serclass_box{
    flex: 3;
  } 
  /* userinformation_box */
  .m_information_box>#m_userinformation_box>#m_nickname{
    font-family: 'Cafe24Ssurround';
    font-size:28px;
    color:var(--iruri-blue-color);
  }
  button.m_information_change{
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none; */
    font-size: 12px;
    color: var(--iruri-blue-color);
    padding:7px 13px;
    border: 1px solid var(--iruri-blue-color);
    background-color: white;
    border-radius: 14px;
    font-family: 'Cafe24SsurroundAir';
  }
  .m_information_box>#m_userinformation_box>#m_useremail{
    padding-top: 40px;
  }
  
   /* userboard_box */
  #m_userboard_box>#m_userboard{
    padding-left: 80px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color); 
  }
  #m_userboard_box>#m_userboard_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left: 69px;
    padding-top: 40px;
  }
  /* userpoint_box */
  #m_userpoint_box>#m_userpoint{
    padding-left: 60px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color); 
  }
  #m_userpoint_box>#m_userpoint_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 46px;
    color: var(--iruri-light-blue-color);
    padding-left:20px;
    padding-top: 40px;
  }
  /* userchallenge */
  #m_userchanllenge_box>#m_userchanllenge{
    padding-left: 35px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 15px;
    color: var(--iruri-gray-color);
  }
  #m_userchanllenge_box>#m_userchanllenge_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left:70px;
    padding-top: 40px;
  }
  
  /* userclass */
  #m_userclass_box>#m_userclass{
    padding-left:  60px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    color: var(--iruri-gray-color);
  }
  #m_userclass_box>#m_userclass_number{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-left:100px;
    padding-top: 40px;
  }s
  
  .border1{
    border:1px solid var(--iruri-blue-color)
  }


   /* 포인트리스트 박스 */
.m_point_box{
  margin: 30px;
  height: 77px;
  border-radius: 30px;
  padding: 10px 80px;
  padding-right:400px;
  background-color:var(--iruri-blue-color);
  display: flex;

}


.m_point_box>#m_now_pointlist_box{
  flex: 35%;
  padding-top: 20px;
  /* padding-right: 10px; */
}
.m_point_box>#m_pre_pointlist_box{
  flex: 40%;
  padding-top: 20px;
  
}
.m_point_box>#m_use_pointlist_box{
  flex: 35%;
  padding-top: 20px;

}


#m_now_pointlist{
font-family: 'Cafe24SsurroundAir';
font-size: 18px;
color:var(--iruri-gray-color);


}

#m_now_pointlistnb{
font-family: 'Cafe24SsurroundAir';
font-size: 25px;
color:var(--iruri-yellow-color);
position: relative;
top: -20px;
left:110px;
}

#m_pre_pointlist{
  font-family: 'Cafe24SsurroundAir';
  font-size: 18px;
  color:var(--iruri-gray-color);
  
}
  
#m_pre_pointlistnb{
  font-family: 'Cafe24SsurroundAir';
  font-size: 25px;
  color:var(--iruri-yellow-color);
  position: relative;
  top: -20px;
left:140px;

  }

#m_use_pointlist{
      font-family: 'Cafe24SsurroundAir';
      font-size: 18px;
      color:var(--iruri-gray-color);
      
}
      
#m_use_pointlistnb{
      font-family: 'Cafe24SsurroundAir';
      font-size: 25px;
      color:var(--iruri-yellow-color);
      position: relative;
  	top: -20px;
left:105px;
      
}


/* 포인트 리스트 부분 */
.m_userpoint_list{
  padding-left: 100px;
  padding-bottom: 23px;
  padding-right: 20px;
 padding-top: 20px;
  display: flex;
}


#m_point_type_save{
  text-align: center; 
  line-height: 120px;

font-size:16px;
border-radius: 80px;
border: 0.5px solid var(--iruri-red-color);
color: var(--iruri-red-color);
width: 120px;
height: 120px;
}

#m_point_date{
  font-size: 16px;
color:var(--iruri-gray-color);
padding-left: 70px;
padding-bottom: 10px;
padding-top: 13px;
}
#m_point_content{
  font-size: 18px;
line-height: 27px;
color:var(--iruri-dark-gray-color);
padding-left: 70px;
margin-bottom: 10px;

}

#m_point_price{
  font-size: 21px;
color:var(--iruri-gray-color);
padding-left: 650px;
padding-top: 40px;
}


.border1{
  border:0.5px solid var(--iruri-light-gray-color);

}

/* 적립예정 */
#m_point_type_pre{
  text-align: center; 
  line-height: 120px;

font-size:16px;
border-radius: 80px;
border: 0.5px solid var(--iruri-green-color);
color: var(--iruri-green-color);
width: 120px;
height: 120px;
}

/* 사용된포인트 */
#m_point_type_use{
text-align: center; 
line-height: 120px;

font-size:16px;
border-radius: 80px;
border: 0.5px solid var(--iruri-blue-color);
color: var(--iruri-blue-color);
width: 120px;
height: 120px;
}



/* 페이징 */
.page_nation {
  display: flex;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 110px;
  justify-content: center;
}

.page_nation a {
  display: block;
  margin: 0 10px;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: var(--iruri-gray-color);
  text-decoration: none;
}

.page_nation .prev {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_left.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-right: 7px;
}

.page_nation .next {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_right.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-left: 7px;
}

.page_nation a.active {
  background-color: var(--iruri-red-color);
  color: var(--iruri-yellow-color);
  border-radius: 18px;
}

