@import url("../css/style.css");

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.ttf')
    format("truetype");
 }

  @font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../font/Cafe24Ssurround.ttf')
    format('truetype'); 
  }

  @font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf')
    format('truetype');
  }


  :root {
    /* font-size */
    --header-gnb-font-size: 22px;
    --header-side-nav-font-size: 12px;
    --footer-title-font-size: 20px;
    --footer-normal-font-size: 13px;

    /* colors */
    --iruri-red-color: #ff0000;
    --iruri-yellow-color: #ffeb00;
    --iruri-blue-color: #185abd;
    --iruri-light-blue-color: #02a3ff;
    --iruri-green-color: #80ff48;
    --iruri-indigo-color: #0a1931;
    --iruri-dark-gray-color: #666;
    --iruri-gray-color: #999;
    --iruri-light-gray-color: #ccc;
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'NanumBarunGothic', sans-serif;
  }

  .container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    /* background-color: #eee; */
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }


/* 콘텐츠 */
.content {
    position: relative;
  }

  .imformation_box{
    margin: 40px;
    padding: 30px 33px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
  }   
  
  .imformation_box>#user_info {
    flex: 13;
    
  }
  .imformation_box>#challenge {
    flex: 3;
    
  }
  .imformation_box>#buy {
    flex: 3;
  }

  .nickname {
    align-content: left;
    font-family: 'Cafe24Ssurround';
    color: var(--iruri-blue-color);
    font-size: 28px;
    padding-bottom: 40px;
  }

  .infobutton {
    font-family: 'NanumBarunGothic';
    color: var(--iruri-blue-color);
    padding: 7px 13px;
    font-size: 13px;
    border-radius: 14px;
    background-color:white;
    border: 2px solid var(--iruri-blue-color);

  }

  .user_detail{
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    line-height: 25px;
    color: var( --iruri-gray--color);

  }

  .count{
    font-family: 'Cafe24SsurroundAir';
    font-size: 50px;
    color: var(--iruri-light-blue-color);
    padding-top: 40px;
    

  }

  .buy_text{
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
    color: var(--iruri-light-blue-color);
    
  }

  .class_MenuBar {
    height: 77px;
    padding: 30px 32px; 
    border-radius: 30px;
    background-color: #ffeb00;
    text-align: center;
    
  }

  .class_MenuBar>ul {
    
    position: relative;
    display: flex;
  }

  .class_MenuBar_text_now {
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
    
    color: var(--iruri--indigo-color);
    margin-right: 42px;
    border-bottom: 3px solid var(--iruri-red-color);
    
  }

  .class_MenuBar_text {
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
    color: var(--iruri-gray-color);
    margin-right: 42px;
  }


  .classbar{
    height: 94px;
    padding: 30px 32px;
    


  }
  .classbar>ul {
    display: flex;
  }


  .classbarUl{    
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    color: var(--iruri-gray-color);
    margin-right: 55px;
  }
  .classbarUl_blue{    
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    color: var(--iruri-light-blue-color);
    margin-right: 55px;
  }


  .class_list{
  	width: 100%; /* container_content에 명시된 width 값의 100% 를 사용 */
    display: flex;
    flex-wrap: wrap; /* flex 요소의 자식 요소들이 강제로 한줄에 배치되게 할 것인지, 또는 가능한 영역 내에서 벗어나지 않고 여러행으로 나누어 표현 할 것인지 결정하는 속성*/
    margin-bottom: 100px;

  }

  .pt_card{
  	padding-top: auto;
  	margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .pt_image{
    width:360px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 28px;
    z-index: -1;
    position: relative;
  }

  .trainer_name{
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-size: 16px;
    color: var(--iruri-red-color);
  }

  .pt_title{
    height: 66px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-size: 26px;
    Line-height: 37px;
    color: var(--iruri-blue-color);
    margin-bottom: 28px;

  }

  .pt_date{
    font-size:18px;
    color: var(--iruri-gray-color); 
    margin-bottom: 18px;

  }

  .pt_icon {
    font-family: "NanumBarunGothic";
    margin-bottom: 5px;
    text-transform: uppercase;
}
  .pt_icon-red {
    background-color: var(--iruri-red-color);
    padding: 4px 5px;
    display: inline-block;
    font-size: 13px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pt_icon-blue {
  background-color: var(--iruri-light-blue-color);
  padding: 4px 5px;
  display: inline-block;
  font-size: 13px;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pt_icon_image{
  width: 14px;
  height: 14px;
  margin-right: 5px;


}

.pt_price{
  font-size: 30px;
  color: var(--iruri-indigo-color); 
  margin-top: 24px;
  display: inline;

}

.pt_update_button{
  font-size: 14px;
  color: var(--iruri-gray-color);
  padding: 8px 9px;
  border: 1px solid;
  border-color: var(--iruri-gray-color);
  border-radius: 5px;
  background-color:white;
  float: right;

}

.pt_mark{
  position:absolute;
  top: 15px; 
  left: 19px;
  padding: 5px 6px;
  font-size: 16px;
  color: white;
  background-color: var(--iruri-red-color);
  font-weight: bold;
  border-radius:10px;
  display: inline;

}

.pt_image_and_mark{
  position: relative;

}


.content_list{
    padding: 0px 25px;
    margin: 20px 0px;
    border-bottom: 1px solid var(--iruri-light-gray-color);
}

.class_title_and_ing{
    display: flex;
    margin-bottom: 20px;
    margin-top: 40px;
    
}

.ing_red{
    height: 25px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: var(--iruri-red-color);
    border-radius:15px;
    margin-right: 10px;
    margin-top: 4px;
    align-items: center;
}

.ing_gray{
    height: 25px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: var(--iruri-gray-color);
    border-radius:15px;
    margin-right: 10px;
    margin-top: 4px;
    align-items: center

}

.class_title{
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-size: 20px;
    Line-height: 37px;
    color: var(--iruri-blue-color);
}

.class_nickname_and_day{
    display: flex;
    margin-bottom: 20px;
    
}

.class_nickname{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.write_day{
    font-size: 15px;
    
    color: var(--iruri-light-gray-color);
}

.and_class{
    padding: 0px 10px ;
}

.content_text{
    font-size: 15px;
    color:var(--iruri-dark-gray-color);
    margin-bottom: 20px;
    line-height: 27px;
}

.month{
  padding-left: 35px;
  

}


/* 회원관리 */

 .management_table {
   width: 100%;
   padding: 30px 30px;
   border-collapse: separate;
   border-bottom: 1px solid var(--iruri-light-gray-color);
 } 
 
.management_table td:nth-of-type(1){
  width: 27%;
  vertical-align: top;
}

.management_table td:nth-of-type(2){
  width: 1%;
  
}

.management_table td:nth-of-type(3){
  width: 72%;
}

.arrow_box{
  position: relative;
  vertical-align: top;
  text-align: left;
}

.arrow_box button {
  display: float;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
}

.a_arrow_up {
  background-color: transparent;
  background-image: url('/ex/resources/src/img/icon/arrow_red_up.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: relative;
}

.a_arrow_down {
  background-color: transparent;
  background-image: url('/ex/resources/src/img/icon/arrow_red_down.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: relative;
}




/* 회원관리 */
.pt_user_management{
  /* padding: 30px 30px; */
  border-bottom: 1px solid var(--iruri-light-gray-color);

}
.pt_title{
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  color: var(--iruri-blue-color);
  margin-bottom: 0px;

}
.title_icon-red{
  font-size: 14px;
  color: var(--iruri-light-gray-color);
  padding: 6px 9px;
  border-radius: 11px;
  background-color: var(--iruri-red-color);
}


.pt_nickname_table{
  font-size: 18px;
  color: var(--iruri-indigo-color);
  line-height: 27px;
}
.pt_nickname_phone{
  font-size: 18px;
  color: var(--iruri-gray-color);
}

.td_box2{
  padding: 16px 30px;
  border-radius: 30px !important;
  border: 1px solid var(--iruri-light-gray-color);
  margin-left: 50px;
  line-height: 27px;
}

.pt_reply_insertBox {
  height: 75px;
  padding: 15px 28px;
  display: flex;
  border-bottom: 1px solid var(--iruri-light-gray-color);
}

.pt_reply_insertBox table {
  width: 100%;
}

.reply_textarea {
  width: 95%;
}

.reply_insertButton {
  width: 5%;
  text-align: right;
}

.reply_insertButton>button{
  font-weight: bold;
}


.pt_reply_box{
  padding: 16px 30px;
  width: 790px;
  line-height: 27px;
  border-bottom: 1px solid var(--iruri-light-gray-color);
}

.pt_reply_date{
  color: var(--iruri-gray-color);
  font-size: 16px;
  line-height: 27px;
}

.pt_reply_content{
  color: var(--iruri-dark-gray-color);
  font-size: 18px;
}

.reply_insertButton>button {
  font-size: 16px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--iruri-blue-color);
}


.reply_textarea>textarea {
  width: 98%;
  height: 100%;
  resize: none;
  font-size: 18px;
  line-height: 27px;
  font-family: 'NanumBarunGothic';
  color: var(--iruri-indigo-color);
  outline: none;
  border: none;
}

.reply_textarea>textarea::placeholder {
  font-size: 16px;
  font-family: 'NanumBarunGothic';
  color: var(--iruri-gray-color);
}



/* 프로필관리 */
.pt_mypage_profile_update{
  width: 660px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
}

.pt_mypage_profile_update table {
  width: 100%;
}

.first, .second {
  padding: 30px 0;
}

.pt_mypage_profile_update button {
  height: 36px;
  margin-left: 80px;
  padding: 0 18px;
  outline: none;
  border: none;
  border-radius: 18px;
}

.pt_mypage_profile_update textarea {
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
  margin: 30px 0;
}

.third {
  float: right;
}

.first {
  vertical-align: top;
  color: var(--iruri-blue-color);
  font-family: 'Cafe24SsurroundAir';
}

.second{
  box-shadow: 0 0 8px rgba(2,163,255,0.3);
  border-radius: 5px

}

.pt_mypage_profile_update span{
  display:inline-block; 
  width:200px;


}

.pt_mypage_profile-title{
  
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 56px;
  
}

  .classbar a:link {
   color: var(--iruri-gray-color);
   }
  
  .classbar a:visited {
   color: var(--iruri-light-blue-color);
   }
 
  .classbar a:active {
   color: var(--iruri-light-blue-color);
   }
   
   .mypagetrainer_bold{
   font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    line-height: 25px;
    color: var(--iruri-red-color);
   }