/* ------------------------------------------------ */
  /* 콘텐츠 */
  /* 회원정보 */
  .container content {
    position: relative;
  }
  




   /* 포인트리스트 박스 */
.m_point_box{
  margin: 30px;
  height: 77px;
  border-radius: 30px;
  padding: 10px 80px;
  padding-right:400px;
  background-color:var(--iruri-blue-color);
  display: flex;

}


.m_point_box>#m_now_pointlist_box{
  flex: 40%;
  padding-top: 20px;
  /* padding-right: 10px; */
}
.m_point_box>#m_pre_pointlist_box{
  flex: 45%;
  padding-top: 20px;
  
}
.m_point_box>#m_use_pointlist_box{
  flex: 35%;
  padding-top: 20px;

}


#m_now_pointlist{
font-family: 'Cafe24SsurroundAir';
font-size: 18px;
color:var(--iruri-gray-color);


}

#m_now_pointlistnb{
font-family: 'Cafe24SsurroundAir';
font-size: 26px;
color:var(--iruri-yellow-color);
position: relative;
top: -22px;
left: 100px;

}

#m_pre_pointlist{
  font-family: 'Cafe24SsurroundAir';
  font-size: 18px;
  color:var(--iruri-gray-color);
  
}
  
#m_pre_pointlistnb{
  font-family: 'Cafe24SsurroundAir';
font-size: 26px;
  color:var(--iruri-yellow-color);
  position: relative;
top: -22px;
left: 130px;

  }
  
  #m_pre_pointlistnb_class{
  font-family: 'Cafe24SsurroundAir';
font-size: 26px;
  color:var(--iruri-yellow-color);
  position: relative;
top: -22px;
left: 100px;

  }

#m_use_pointlist{
      font-family: 'Cafe24SsurroundAir';
      font-size: 18px;
      color:var(--iruri-gray-color);
      
}
      
#m_use_pointlistnb{
      font-family: 'Cafe24SsurroundAir';
font-size: 26px;
      color:var(--iruri-yellow-color);
      position: relative;
      top: -22px;
      left: 100px;
      
}


/* 포인트 리스트 부분 */
.m_userpoint_list{
  padding-left: 100px;
  padding-bottom: 23px;
  padding-right: 20px;
 padding-top: 20px;
  display: flex;
}


#m_point_type_save{
  text-align: center; 
  line-height: 100px;

font-size:16px;
border-radius: 90px;
border: 0.5px solid var(--iruri-red-color);
color: var(--iruri-red-color);
width: 100px;
height: 100px;
}

#m_point_date{
  font-size: 16px;
color:var(--iruri-gray-color);
padding-left: 70px;
padding-bottom: 10px;
padding-top: 13px;
}
#m_point_content{
  font-size: 18px;
line-height: 27px;
color:var(--iruri-dark-gray-color);
padding-left: 70px;
margin-bottom: 10px;

}

#m_point_price{
  font-size: 21px;
color:var(--iruri-gray-color);
padding-left: 650px;
padding-top: 40px;
}




/* 적립예정 */
#m_point_type_pre{
  text-align: center; 
  line-height: 100px;

font-size:16px;
border-radius: 80px;
border: 0.5px solid var(--iruri-green-color);
color: var(--iruri-green-color);
width: 100px;
height: 100px;
}

/* 사용된포인트 */
#m_point_type_use{
text-align: center; 
line-height: 100px;

font-size:16px;
border-radius: 80px;
border: 0.5px solid var(--iruri-blue-color);
color: var(--iruri-blue-color);
width: 100px;
height: 100px;
}

#m_point_useprice{
	  font-size: 20px;
color:var(--iruri-gray-color);
padding-left: 639px;
padding-top: 40px;
}



/* 페이징
.page_nation {
  display: flex;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 110px;
  justify-content: center;
}

.page_nation a {
  display: block;
  margin: 0 10px;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: var(--iruri-gray-color);
  text-decoration: none;
}

.page_nation .prev {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_left.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-right: 7px;
}

.page_nation .next {
  position: relative;
  top: 9px;
  background: transparent url('../icon/arrow_red_right.png') no-repeat center center;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-left: 7px;
}

.page_nation a.active {
  background-color: var(--iruri-red-color);
  color: var(--iruri-yellow-color);
  border-radius: 18px;
} */

