@charset "UTF-8";

.ptClassFormInsert {
  width: 1200px;
  margin: 0 auto;
  padding: 44px 70px;
  font-family: var(--NanumBarunGothic);
}

.ptForm {
  width: 660px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ptFormTitle {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 50px;
  font-size: 22px;
  color: var(--iruri-indigo-color);
  font-family: "Cafe24Ssurround";
}

.ptForm > div {
  display: flex;
}

.ptForm .title {
  color: var(--iruri-blue-color);
  font-size: 16px;
  width: 135px;
  height: 44px;
  display: flex;
  align-items: center;
}

.ptForm input {
  margin: 0;
}

.ptForm input[type="text"] {
  width: calc(100% - 135px);
  height: 44px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid var(--iruri-light-gray-color);
  outline: none;
  padding: 3px 20px;
  color: var(--iruri-indigo-color);
  font-size: 14px;
}

.exerciseList,
.exerciseLevel,
.exerciseDate,
.exercisePerson,
.ptClassthumbnail {
  display: flex;
  gap: 30px;
}

.exerciseList label,
.exerciseLevel label,
.exerciseDate label,
.exercisePerson label,
.ptClassthumbnail label,
.ptClassthumbnail div,
.defaultThumbnail label {
  display: flex;
  align-items: center;
}

.exerciseList label span,
.exerciseLevel label span,
.exerciseDate label span,
.exercisePerson label span,
.ptClassthumbnail label span,
.defaultThumbnail label span {
  padding-left: 5px;
}

.exerciseTerm input,
.exerciseTime input,
.exercisePrice input {
  width: 200px !important;
}

.ptClassFormInsert .iruri-check-no-icon {
  width: 18px;
  height: 18px;
  background-size: cover;
}

.ptClassFormInsert input[type="radio"] {
  display: none;
}

.ptClassFormInsert textarea {
  resize: none;
  outline: none;
  font-size: 14px;
  color: var(--iruri-indigo-color);
  width: 525px;
  height: 300px;
  border: 1px solid var(--iruri-light-gray-color);
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 3px 20px;
}

.thumbnail .title .thumbnailWrap {
  display: flex;
  flex-direction: column;
}

.ptClassthumbnail,
.defaultThumbnail {
  margin-bottom: 24px;
}

.ptClassFormInsert .file_upload {
  width: 119px;
  height: 40px;
}

.ptClassFormInsert .c_img_list {
  width: 100%;
}
.ptClassFormInsert .thumbnail .c_img_list > div {
  display: grid;
  grid-template-columns: repeat(4, 123px);
  grid-template-rows: repeat(2, 123px);
  gap: 5px;
}

.iruri-fileUpload-icon {
  width: 95%;
  height: 95%;
  cursor: pointer;
  background: url(/ex/resources/src/img/icon/img_upload.png) center center no-repeat;
  background-size: contain;
}

.ptClassFormInsert .button {
  justify-content: space-evenly;
}

.ptClassFormInsert .button button {
  margin: 0;
}
