@charset "UTF-8";

.ptClassWrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--NanumBarunGothic);
  padding: 0 13.4px;
}

.ptClassTitle {
  margin-top: 50px;
  font-size: 28px;
  color: var(--iruri-blue-color);
  font-family: var(--Cafe24Ssurround);
}

.ptClassSuggest {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ptClassSuggest .suggestTitle {
  margin-top: 55px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 17px;
  font-family: var(--Cafe24SsurroundAir);
  color: var(--iruri-indigo-color);
}

.suggestWrap {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.suggestImg {
  width: 568px;
  height: 440px;
  background-size: cover !important; 
  background-position: center !important;
  border-radius: 30px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suggestImg:nth-child(2) {
  margin-right: 0;
}

.suggestPtPerson {
  font-family: var(--NanumBarunGothic);
  background-color: var(--iruri-red-color);
  color: white;
  border-radius: 25px;
  width: 45px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.suggestImg .suggestMetaData > span {
  color: var(--iruri-red-color);
}

.suggestImg .suggestMetaData > h5 {
  margin-top: 10px;
  height: 73px;
  color: var(--iruri-green-color);
  font-family: var(--Cafe24SsurroundAir);
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.suggestData {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--NanumBarunGothic);
  font-size: 20px;
  color: var(--iruri-light-gray-color);
}

.suggestData .iruri-heart-gray-icon,
.suggestData .iruri-heart-red-icon,
.ptListBuyData .iruri-heart-gray-icon,
.ptListBuyData .iruri-heart-red-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48px;
  height: 43px;
}

.ptClassNav,
.ptClassWrap p {
  margin-top: 100px;
  margin-bottom: 53px;
}

p {
  display: flex;
  gap: 40px;
  font-size: 24px;
  font-family: var(--Cafe24SsurroundAir);
  font-weight: bold;
}

.ptClassNav {
  display: flex;
  font-size: 24px;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.ptClassNav a {
  color: var(--iruri-gray-color);
}

.ptClassNav li:first-child a {
  color: var(--iruri-blue-color);
}

.ptClassFilter {
  border-top: 3px solid var(--iruri-blue-color);
  border-bottom: 3px solid var(--iruri-blue-color);
  width: 100%;
  font-family: var(--NanumBarunGothic);
  margin-bottom: 53px;
}

.ptClassFilter > div {
  display: flex;
}

.ptClassFilter input[type="radio"] {
  display: none;
}

.ptClassFilter-label {
  width: 165px;
  font-size: 18px;
  color: var(--iruri-blue-color);
  gap: 50px;
  padding: 13px 0 10px 45px;
  font-weight: bold;
}

.ptClassFilter-inputWrap {
  width: calc(100% - 165px);
  padding: 10px 0;
  font-weight: bold;
}

.ptClassFilter-inputWrap label {
  margin-left: 30px;
  color: var(--iruri-indigo-color);
}

.ptClassFilter-inputWrap label:nth-of-type(1) {
  margin-left: 0;
}

.ptClassFilter-inputWrap i {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
}

.ptClassSelect {
  font-family: var(--NanumBarunGothic);
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 53px;
}

.ptClassSelect .select_ul {
    position: absolute;
    z-index: 1;
} 

.ptSelect {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none !important;
  position: relative;
}

.ptSelect .iruri-selectBox-arrow-icon {
  position: relative;
  left: 15px;
  top: 3px;
  width: 15px;
  height: 15px;
}

.ptClassSelect ul {
  left: 0;
  top: 45px;
}

.ptClassList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.ptClassList .c_list_img {
  position: relative;
}

.ptListPerson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 30px;
  padding-top: 5px;
  border-radius: 25px;
  color: white;
  background-color: var(--iruri-red-color);
  position: absolute;
  top: 15px;
  left: 15px;
}

.ptListSubTitle {
  font-family: var(--Cafe24SsurroundAir);
  font-weight: bold;
  color: var(--iruri-red-color);
  margin-bottom: 5px;
}

.ptListTitle {
  font-family: var(--Cafe24SsurroundAir);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ptClassList .c_list_date {
  font-weight: bold;
}

.ptListBuyData {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ptListPrice {
  font-size: 30px;
  color: var(--iruri-indigo-color);
  margin-top: 24px;
}
