<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이루리 AI영상(상세)</title>
    <link rel="stylesheet" href="../css/iruri_ai_detail.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../js/c_modal.js" defer></script>
    <script src="../js/c_select.js" defer></script>
    <script src="../js/c_radio_check.js"></script>
</head>

<body>

    <div class="ai_container">

        <div class="ai_category">
            이루리운동 > AI자세교정
        </div>




        <!--운동영상-->
        <div class="ai_video">
            <div class="ai_video_img">
            </div>
            <div class="ai_title">
                제목입니다
            </div>
            <span class="ai_views">
                조회수 152,621회
            </span>
            <div class="ai_heart">
                <input type="checkbox" id="heart"><label for="heart" class="heart_label"></label>
            </div>
        </div>



        <!-- 댓글 입력창 -->
        <form class="reply_insertBox" action="">
            <table>
                <tr>
                    <td class="reply_textarea"><textarea placeholder="글을 작성하세요."></textarea></td>
                    <td class="reply_insertButton"><button>입력</button></td>
                </tr>
            </table>
        </form>

        <table class="reply_table">
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_modify">수정</button><button class="reply_delete">삭제</button></td>
            </tr>
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button>감추기</button></td>
            </tr>
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>
            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>

            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>

            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>

            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>

            <tr>
                <td class="reply_nickname">닉네임</td>
                <td>
                    <p class="reply_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </td>
                <td class="reply_button"><button class="reply_complain">신고</button></td>
            </tr>

        </table>



        <!--댓글 신고 모달-->
        <div class="c_complain_modal">
            <div class="c_complain_modal_start">
                <h4 class="c_complain_modal_title">신고사유 선택</h4>
                <form action="#">

                    <ul class="c_complain_modal_ul">
                        <li>
                            <input type="radio" name="c_complain" id="complain1"><label for="complain1" class="c_complain_modal_label" onclick="radio_click(this)">
                        욕설, 비방, 차별, 혐오
                    </label>
                        </li>

                        <li>
                            <input type="radio" name="c_complain" id="complain2"><label for="complain2" class="c_complain_modal_label" onclick="radio_click(this)">
                        홍보, 영리목적
                    </label>
                        </li>

                        <li>
                            <input type="radio" name="c_complain" id="complain3"><label for="complain3" class="c_complain_modal_label" onclick="radio_click(this)">
                    음란, 청소년 유해
                    </label>
                        </li>

                        <li>
                            <input type="radio" name="c_complain" id="complain4"><label for="complain4" class="c_complain_modal_label" onclick="radio_click(this)">
                        도배, 스팸
                     </label>
                        </li>

                    </ul>

                    <div class="modal_button">

                        <button class="c_complain_modal_cancle" type="reset" onclick="radio_cancle_click(this)">취소</button>
                        <button class="c_complain_modal_submit" type="submit" disabled="disabled">신고하기</button>
                    </div>
                </form>

            </div>
            <div class="modal_layer"></div>
        </div>

        <!-- 댓글 삭제 확인 모달 -->
        <div class="reply_delete_modal">
            <div class="reply_delete_modal_start">
                <h4 class="reply_delete_modal_title">댓글 삭제</h4>
                <form action="#">

                    <ul class="reply_delete_modal_ul">
                        <li>
                            해당 댓글을 정말로 삭제하시겠습니까?
                        </li>

                    </ul>

                    <div class="modal_button">

                        <button class="reply_delete_modal_cancle" type="reset">취소</button>
                        <button class="reply_delete_modal_submit" type="submit">댓글삭제</button>
                    </div>
                </form>

            </div>
            <div class="modal_layer"></div>
        </div>


        <!-- 댓글 수정 확인 모달 -->
        <div class="reply_modify_modal">
            <div class="reply_modify_modal_start">
                <h4 class="reply_modify_modal_title">댓글 수정</h4>
                <form action="#">

                    <div class="reply_modify_content">
                        <textarea cols="30" rows="50" class="inputbox_certify2"></textarea>
                    </div>

                    <div class="modal_button">

                        <button class="reply_modify_modal_cancle" type="reset">취소</button>
                        <button class="reply_modify_modal_submit" type="submit">등록하기</button>
                    </div>
                </form>

            </div>
            <div class="modal_layer"></div>
        </div>

        <!--페이징-->
        <!-- 페이징 태그(댓글, 게시글 등 다양하게 사용)-->
        <div class="page_nation">
            <a class="arrow prev" href="#"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a class="arrow next" href="#"></a>
        </div>



    </div>
</body>

</html>