<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이루리 AI자세교정</title>
    <link rel="stylesheet" href="../css/iruri_ai.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../js/c_modal.js" defer></script>
    <script src="../js/c_select.js" defer></script>
</head>

<body>

    <div class="ai_container">

        <div class="ai_category">
            이루리운동 > AI자세교정
        </div>




        <!--AI자세교정에 대한 설명-->
        <div class="ai_recommend">
            <div class="ai_recommend_img">
            </div>
        </div>






        <div class="ai_search">

            <!--관심영상-->
            <button class="ai_like_button">관심영상</button>
            <!--정렬(셀렉트박스)-->
            <div id="select_wrap">
                <div id="select" class="select">인기순</div>
                <ul id="ul" class="select_ul">

                    <li data-value="value 1">인기순</li>
                    <li data-value="value 2">시작일순</li>
                    <li data-value="value 3">평점순</li>
                </ul>
            </div>




        </div>










        <!--챌린지 리스트-->
        <div class="ai_list">
            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>


            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>


            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>


            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>


            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>


            <div class="ai_list_detail">
                <div class="ai_list_img">
                    <img src="../images/images/icon/360-250.png" alt="">
                    <div class="ai_mark">AI</div>
                </div>
                <div class="ai_list_title">
                    스쿼트, 런지, 플랭크<br> 30일 챌린지
                </div>

                <div class="ai_list_date">
                    2021.03.01~2021.04.01
                </div>

                <div class="ai_list_person">
                    참여중인 인원 00명 (최대인원 20명)
                </div>

                <div class="ai_list_heart">
                    <input type="checkbox" id="heart3"><label for="heart3" class="heart_label"></label>
                </div>
            </div>

        </div>



        <!--페이징-->
        <!-- 페이징 태그(댓글, 게시글 등 다양하게 사용)-->
        <div class="page_nation">
            <a class="arrow prev" href="#"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a class="arrow next" href="#"></a>
        </div>



    </div>
</body>

</html>