<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.IUserUpdateMapper">

	<resultMap type="com.iruri.ex.vo.IUserVO" id="iUserupdateMap">

		<result property="userId" column="user_id"/>
		<result property="userEmail" column="user_email"/>
		<result property="userPw" column="user_pw"/>
		<result property="userNickname" column="user_nickname"/>
		<result property="userName" column="user_name"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userSigndate" column="user_signdate"/>
		<result property="userPoint" column="user_point"/>
		<result property="userBlackList" column="user_blacklist"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	
		<resultMap type="com.iruri.ex.vo.IUserInfoVO" id="iUserinfoMap">

		<result property="infoId" column="info_id"/>
		<result property="userBirth" column="user_birth"/>
		<result property="userHeight" column="user_height"/>
		<result property="userWeight" column="user_weight"/>
		<result property="userGender" column="user_gender"/>
		<result property="userId" column="user_id"/>
		<result property="userWritedate" column="user_writedate"/>
		
<!-- 		<collection property="IuserinfoList" resultMap="authMap">
		</collection> -->
	</resultMap>



	<update id="update" >
	<![CDATA[
		update iuser set user_pw = #{userPw, jdbcType = VARCHAR}, user_nickname = #{userNickname, jdbcType = VARCHAR},
		 user_phone = #{userPhone, jdbcType = VARCHAR} where user_id = #{userId}
	]]>
	</update>
	
	
		<update id="infoupdate" >
	<![CDATA[
		update iuserinfo set user_gender = #{userGender, jdbcType = VARCHAR}, user_birth = #{userBirth, jdbcType = VARCHAR},
		 user_height = #{userHeight, jdbcType = VARCHAR}, user_weight = #{userWeight, jdbcType = VARCHAR} where user_id = #{userId}
	]]>
	</update>
	
	
	


</mapper>