.cardConteiner {
  max-width: 360px;
  border: 2px solid var(--iruri-indigo-color);
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
  font-family: var(--Cafe24SsurroundAir);
}

.cardConteiner:hover {
  box-shadow: 7px 7px 13px rgba(10, 25, 49, 0.3);
}

.card__image {
  width: 356px;
  height: 270px;
  border-radius: 48px 48px 0 0;
  overflow: hidden;
}

.card__image img {
	display:block;
	width:100%;
	height:100%;
}

.card__info {
  padding: 27px 30px;
  background-color: white;
  border-radius: 0 0 48px 48px;
}

.info__title {
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--iruri-blue-color);
  line-height: 37px;
  height: 73.6px;
}

.info__title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info__title-trainer {
  font-size: 16px;
  color: var(--iruri-red-color);
  line-height: 16px;
  margin-bottom: 5px;
}

.info__data {
  margin-bottom: 10px;
}

.data__term {
  font-family: var(--NanumBarunGothic);
  display: block;
  font-size: 20px;
  color: #666;
  margin-bottom: 14px;
}

.data__tags {
  font-family: var(--NanumBarunGothic);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.data__tag-blue,
.data__tag-red {
  display: inline-block;
  font-size: 13px;
  color: white;
  height: 25px;
  padding: 2px 10px;
  border-radius: 10px;
  margin-right: 2px;
}

.data__tag-blue {
  background-color: var(--iruri-light-blue-color);
}

.data__tag-red {
  background-color: var(--iruri-red-color);
  padding: 6px 10px;
}

.data__tag-blue .iruri-level-icon,
.data__tag-blue .iruri-time-icon {
  width: 15px;
  height: 15px;
  position: relative;
  left: -1px;
  top: 2.5px;
}

.info__btn {
  text-align: center;
  overflow: hidden;
}

.info__btn__join {
  padding: 10px 0px;
  width: 100px;
  height: 35px;
  background-color: var(--iruri-green-color);
  border-radius: 18px;
  float: right;
  display: block;
}

.info__btn__join span {
  font-size: 16px;
  font-family: var(--Cafe24Ssurround);
  color: var(--iruri-blue-color);

  position: relative;
  left: 5px;
  bottom: 3px;
}

.iruri-arrow-yellow-icon {
  display: inline-block;
  background-image: url(/ex/resources/src/img/icon/icon_page_arrow_right.png);
  background-size: cover;
  width: 15px;
  height: 15px;

  position: relative;
  right: -2.5px;
}
