.iruri__footer {
  min-width: 1200px;
  height: 480px;
  padding-top: 98px;
  background-color: var(--iruri-indigo-color);
  margin-bottom: -480px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__contentWrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: var(--NanumBarunGothic);
  font-size: var(--footer-normal-fontSize);
}

.footer__fnb {
  display: flex;
  justify-content: space-between;
}

.fnb__title {
  font-family: var(--Cafe24SsurroundAir);
  font-size: var(--footer-title-fontSize);
  color: var(--iruri-light-blue-color);
}

.fnb__item {
  margin-top: 15px;
  color: var(--iruri-light-gray-color);
}

.fnb__item a {
  color: inherit;
}

.fnb__item:first-child {
  margin-top: 20px;
}

.apply {
  color: var(--iruri-green-color);
  border: 1.5px solid var(--iruri-blue-color);
  border-radius: 25px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__address {
  margin-top: 90px;
  color: var(--iruri-dark-gray-color);
}

.address__menu,
.address__copyright {
  margin-bottom: 13px;
}

.address__menu,
.address__info {
  display: flex;
}

.address__menu a {
  color: inherit;
}

