.iruri__header {
  display: flex;
  justify-content: space-between;
  font-family: var(--Cafe24SsurroundAir);
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.header__logo {
  width: 30%;
}

.header__logo img {
  width: 125px;
}

.header__gnb {
  display: flex;
  align-items: flex-end;
  width: 40%;
}

.gnb__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.gnb__item {
  font-size: var(--header-gnb-fontSize);
}

.gnbHoverTarget {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.gnb__item,
.gnbHoverTarget {
  transition: all 0.35s ease-in-out;
}

.header__infoMenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  font-family: var(--NanumBarunGothic);
  font-size: var(--header-infoMenu-fontSize);
}

.infoMenu-login,
.infoMenu-logout {
  margin-bottom: 10px;
  color: var(--iruri-blue-color);
}

.infoMenu__item {
  margin-left: 20px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.iruri-search-icon,
.iruri-roulette-icon,
.iruri-login-icon,
.iruri-logout-icon,
.iruri-mypage-icon {
  position: relative;
  top: 5px;
  right: 2px;
}

.search_window {
  display: none;
  position: absolute;
  margin-top: 10px;
  width: 45%;
  left: 50%;
  transform: translate(-50%);
  min-width: 640px;
  padding: 30px 50px;
  background-color: white;
  border: 2px solid var(--iruri-blue-color);
  border-radius: 50px;
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}

.search_window > form {
  width: 100%;
  display: flex;
}

.search_area::placeholder {
  font-family: var(--NanumBarunGothic);
  color: var(--iruri-gray-color);
  font-size: 16px;
}

.search_area:focus::placeholder {
  color: transparent;
}

.search_area {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border: none;
  outline: none;
  width: 90%;
  margin-right: 5%;
  height: 100%;
  height: 40px;
  font-family: var(--NanumBarunGothic);
  color: var(--iruri-indigo-color);
  font-size: 20px;
}

.search_window button {
  display: flex;
  justify-content: flex-end;
  width: 32px;
  height: 32px;
  background-image: url("/ex/resources/src/img/icon/search.png");
  background-size: cover;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}