<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.IClassMapper">

	<resultMap type="com.iruri.ex.vo.IClassVO" id="iClassMap">
		<result property="classId" column="CLASS_ID"/>
		<result property="classTitle" column="CLASS_TITLE"/>
		<result property="classContent" column="CLASS_CONTENT"/>
		<result property="classGoal" column="CLASS_GOAL"/>
		<result property="classExerciseCount" column="CLASS_EXERCISECOUNT"/>
		<result property="classStartDate" column="CLASS_STARTDATE"/>
		<result property="classEndDate" column="CLASS_ENDDATE"/>
		<result property="classImage" column="CLASS_IMAGE"/>
		<result property="classLike" column="CLASS_LIKE"/>
		<result property="classState" column="CLASS_STATE"/>
		<result property="classHit" column="CLASS_HIT"/>
		<result property="classJoinMember" column="CLASS_JOINMEMBER"/>
		<result property="classTrainerInfo" column="CLASS_TRAINERINFO"/>
		<result property="classTotalMember" column="CLASS_TOTALMEMBER"/>
		<result property="classPrice" column="CLASS_PRICE"/>
		<result property="classNeed" column="CLASS_NEED"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="classLevel" column="CLASS_LEVEL"/>
		<result property="rnum" column="rnum"/>		
		<collection property="exerciseDateList" resultMap="exerciseDateMap">
		</collection>
		<collection property="exerciseKindList" resultMap="exerciseKindMap">
		</collection>
	</resultMap>


	<resultMap type="com.iruri.ex.vo.ExerciseDateVO" id="exerciseDateMap">
		<result property="exerciseDate" column="EXERCISE_DATE"/>
		<result property="classId" column="CLASS_ID"/>
	</resultMap>
	
	<resultMap type="com.iruri.ex.vo.ExerciseKindVO" id="exerciseKindMap">
		<result property="exerciseKind" column="EXERCISE_KIND"/>
		<result property="classId" column="CLASS_ID"/>
	</resultMap>
	
	<!-- 로그인 한 유저 클래스 정보 뽑아오기 -->
	<select id="selectAll" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			user_id = #{userId} 
		]]>
	</select>
	
	<!-- 챌린지 메인 리스트 뽑기 -->
	<select id="ChallengeSelectAll" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			CATEGORY_ID = 2
		]]>
	</select>

	<!--현재 운영중인 클래스 정보 뽑아오기 -->
	<select id="selectAllCurrent" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			user_id = #{userId} and CLASS_ENDDATE >= sysdate
		]]>
	</select>

	<!--종료된 클래스 정보 뽑아오기 -->
	<select id="selectAllEnd" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			user_id = #{userId} and CLASS_ENDDATE < sysdate
		]]>
	</select>
	
	<select id="classcount" parameterType="int" resultType="int">
		<![CDATA[
		SELECT
			count(*)
		FROM
			iclass
		WHERE
			user_id = #{userId} 
		
			
		]]> 
	</select>
	
	

	
	
	

	
   
   

</mapper>