<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.IClassMapper">

	<resultMap type="com.iruri.ex.vo.IClassVO" id="iClassMap">
		<result property="classId" column="CLASS_ID"/>
		<result property="classTitle" column="CLASS_TITLE"/>
		<result property="classContent" column="CLASS_CONTENT"/>
		<result property="classGoal" column="CLASS_GOAL"/>
		<result property="classExerciseCount" column="CLASS_EXERCISECOUNT"/>
		<result property="classStartDate" column="CLASS_STARTDATE"/>
		<result property="classEndDate" column="CLASS_ENDDATE"/>
		<result property="classImage" column="CLASS_IMAGE"/>
		<result property="classLike" column="CLASS_LIKE"/>
		<result property="classState" column="CLASS_STATE"/>
		<result property="classHit" column="CLASS_HIT"/>
		<result property="classJoinMember" column="CLASS_JOINMEMBER"/>
		<result property="classTrainerInfo" column="CLASS_TRAINERINFO"/>
		<result property="classTotalMember" column="CLASS_TOTALMEMBER"/>
		<result property="classPrice" column="CLASS_PRICE"/>
		<result property="classNeed" column="CLASS_NEED"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="classLevel" column="CLASS_LEVEL"/>
		<result property="rnum" column="rnum"/>
		<result property="classTime" column="CLASS_TIME"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
		<collection property="exerciseDateList" resultMap="exerciseDateMap">
		</collection>
		<collection property="exerciseKindList" resultMap="exerciseKindMap">
		</collection>
	</resultMap>


	<resultMap type="com.iruri.ex.vo.ExerciseDateVO" id="exerciseDateMap">
		<result property="exerciseDate" column="EXERCISE_DATE"/>
		<result property="classId" column="CLASS_ID"/>
	</resultMap>
	
	<resultMap type="com.iruri.ex.vo.ExerciseKindVO" id="exerciseKindMap">
		<result property="exerciseKind" column="EXERCISE_KIND"/>
		<result property="classId" column="CLASS_ID"/>
	</resultMap>
	
	<!-- 로그인 한 유저 클래스 정보 뽑아오기 -->
	<select id="selectAll" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			user_id = #{userId} 
		]]>
	</select>
	
	<!-- 챌린지 메인 리스트 뽑기 -->
	<select id="ChallengeSelectAll" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass
		WHERE
			CATEGORY_ID = 2
		]]>
	</select>

	<!--현재 운영중인 클래스 정보 뽑아오기 -->
	<!--  현재 운영중인 클래스 조회(복사해서 사용하기위해 -> jsp에서 jebal로 사용) -->
	<select id="selectAllCurrent" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass, exercise_kind, exercise_date
		WHERE
			iclass.class_id =  exercise_date.class_id and iclass.class_id =  exercise_kind.class_id and user_id = #{userId} and CLASS_ENDDATE >= sysdate
			order by exercise_date.exercise_date desc
		]]>
	</select>

	<!--종료된 클래스 정보 뽑아오기 -->
	<select id="selectAllEnd" resultMap="iClassMap">
		<![CDATA[
		SELECT
			*
		FROM 
			iclass, exercise_kind, exercise_date
		WHERE
			iclass.class_id =  exercise_date.class_id and iclass.class_id =  exercise_kind.class_id and user_id = #{userId} and CLASS_ENDDATE < sysdate
			order by exercise_date.exercise_date desc
		]]>
	</select>
	
	<select id="classcount" parameterType="int" resultType="int">
		<![CDATA[
		SELECT
			count(*)
		FROM
			iclass
		WHERE
			user_id = #{userId} 
		]]> 
	</select>


	<!-- 참여 가능한 상위 챌린지 5개  -->
	<select id="mainPageChallengeList" resultMap="iClassMap">
		<![CDATA[
SELECT *
FROM
(
    SELECT cl.*, ca.category_name
    FROM iclass cl, category ca
    WHERE cl.category_id = ca.category_id
    ORDER BY cl.class_like DESC
)
WHERE 
rownum <= 5 and category_id = 1 and class_enddate >= sysdate
		]]> 
	</select>
	
	<!-- 참여 가능한 상위 PT클래스 5개 -->
	<select id="mainPagePtClassLIst" resultMap="iClassMap">
		<![CDATA[
SELECT ic.*, e.exercise_kind
FROM exercise_kind e,
(
    SELECT c.*, iu.user_nickname
    FROM
    (
        SELECT cl.*, ca.category_name
        FROM iclass cl, category ca
        WHERE cl.category_id = ca.category_id
        ORDER BY cl.class_like DESC
    ) c, iuser iu
    WHERE rownum <= 5 and category_id = 2 and class_state = 'show' and c.user_id = iu.user_id
) ic
WHERE ic.class_id = e.class_id
		]]>
	</select>
	
	<select id="mainPageExerciseVideoList" resultMap="iClassMap">
	<![CDATA[
SELECT c.*, e.exercise_kind
FROM exercise_kind e,
(
    SELECT class_title, class_like, class_id
    FROM iclass, category
    WHERE iclass.category_id = category.category_id and iclass.category_id = 9 and rownum <= 5
    ORDER BY class_like DESC
) c
WHERE c.class_id = e.class_id
	]]>		
	</select>
	
	<!-- 현재 진행중인 클래스(+페이징)  -->
	
	<select id="getTotalCount_mypageTrainerClassList" resultType="int">
	<![CDATA[
		select count(*) from iClass where user_id = #{userId} and CLASS_ENDDATE >= sysdate
	]]>
	</select>

	<!-- 현재 진행중인 클래스(+페이징), 조인구문이 빠짐-> 위에서 조인해서 복사해서 사용 -->
	<select id="getListWithPaging_mypageTrainerClassList" parameterType="HashMap" resultMap="iClassMap">
	 <![CDATA[
SELECT *
FROM
(
    SELECT ROWNUM rn, c.*
    FROM
    (
        SELECT B.*
        FROM iclass B
        WHERE B.user_id = #{userId} and B.category_id = 2 and CLASS_ENDDATE >= sysdate
        ORDER BY B.class_id DESC, B.class_startdate DESC
    ) C
    WHERE rownum <= #{cri.pageNum} * #{cri.amount}
)
WHERE rn > (#{cri.pageNum}-1) * #{cri.amount}
	]]> 

	</select>
	
	<!--  종료된 클래스(+페이징)  -->
	
	<select id="getTotalCount_mypageTrainerClassListEnd" resultType="int">
	<![CDATA[
		select count(*) from iClass where user_id = #{userId} and CLASS_ENDDATE < sysdate
	]]>
	</select>


	<select id="getListWithPaging_mypageTrainerClassListEnd" parameterType="HashMap" resultMap="iClassMap">
	 <![CDATA[
	
		SELECT *
FROM
(
    SELECT ROWNUM rn, c.*
    FROM
    (
        SELECT B.*
        FROM iclass B
        WHERE user_id = #{userId} and B.category_id = 2 and CLASS_ENDDATE < sysdate
        ORDER BY B.class_startdate DESC
    ) C
    WHERE rownum <= #{cri.pageNum} * #{cri.amount}
)
WHERE rn > (#{cri.pageNum}-1) * #{cri.amount}
	]]> 

	</select>
	
	
	<!-- 요일 -->
	<select id="selectExerciseDate" resultMap="exerciseDateMap">
		<![CDATA[
		select * from exercise_date 
		where class_id in
		(SELECT class_id FROM iclass WHERE user_id = #{userId})
		order by class_id
		]]>
	</select>
	
	<!-- 운동종류  -->
	<select id="selectExerciseKind" resultMap="exerciseKindMap">
		<![CDATA[
		select * from exercise_kind 
		where class_id in
		(SELECT class_id FROM iclass WHERE user_id = #{userId})
		order by class_id
		]]>
	</select>
	
</mapper>