<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.IUserInfoMapper">

	<resultMap type="com.iruri.ex.vo.IUserInfoVO" id="iUserinfoMap">

		<result property="infoId" column="info_id"/>
		<result property="userBirth" column="user_birth"/>
		<result property="userHeight" column="user_height"/>
		<result property="userWeight" column="user_weight"/>
		<result property="userGender" column="user_gender"/>
		<result property="userId" column="user_id"/>
		<result property="userWritedate" column="user_writedate"/>
		
<!-- 		<collection property="IuserinfoList" resultMap="authMap">
		</collection> -->
	</resultMap>


	

	
	<!-- 7.필요한 데이터 가져오기 -->
	<select id="selectAll" resultMap="iUserinfoMap">
		<![CDATA[
SELECT
	info_id, user_birth, user_height, user_weight, user_gender, user_id
FROM 
	iuserinfo
WHERE
	user_id = #{userId}
		]]>
	</select>
	
	
		<!-- 올해 몸무게 구하기 -->
	<select id="useryearweight" resultMap="iUserinfoMap">
		<![CDATA[
SELECT distinct extract(month from user_writedate) 월,user_weight 
FROM iuserinfo 
WHERE user_id = #{userId} and ROWID IN (select MAX(ROWID) from iuserinfo group by (extract(month from user_writedate)))order by 월
		]]>
	</select>
	
	
			<!-- 이번달 몸무게 구하기 -->
	<select id="usermonthweight" resultMap="iUserinfoMap">
		<![CDATA[
select user_weight
from iuserinfo where user_id = #{userId} and trunc(sysdate,'mm')< TO_CHAR(user_writedate,'YYYYMMDD')
and TO_CHAR(user_writedate,'YYYYMMDD')<last_day(sysdate)
order by user_writedate
		]]>
	</select>
	
	





</mapper>