<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.IUserMapper">

	<resultMap type="com.iruri.ex.vo.IUserVO" id="iUserMap">

		<result property="userId" column="user_id"/>
		<result property="userEmail" column="user_email"/>
		<result property="userPw" column="user_pw"/>
		<result property="userNickname" column="user_nickname"/>
		<result property="userName" column="user_name"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userSigndate" column="user_signdate"/>
		<result property="userPoint" column="user_point"/>
		<result property="userBlackList" column="user_blacklist"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>

	<resultMap type="com.iruri.ex.vo.AuthVO" id="authMap">
		<result property="authNumber" column="auth_number"/>
		<result property="authId" column="auth_id"/>
		<result property="authContent" column="auth_content"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="signUpUser">
		<![CDATA[
INSERT INTO iuser
(
    user_id,
    user_email,
    user_pw,
    user_nickname,
    user_phone
)
VALUES
(
   	(SELECT NVL(MAX(user_id), MAX(user_id)) + 1 FROM iuser),
    #{userEmail},
    #{userPw}, 
    #{userNickname}, 
    #{userPhone}
)    
		]]>
	</insert>
	
		<!-- 로그인 -->
	<select id="getIUser" resultMap="iUserMap">
		<![CDATA[
SELECT
	u.*, a.*
FROM 
	iuser u, authority a
WHERE
	u.user_id = a.user_id AND u.user_email = #{userEmail}
		]]>
	</select>
	
	<!-- 카카오 유저 찾기 -->
	<select id="findKakaoUser" resultMap="iUserMap">
		<![CDATA[
SELECT
	u.*, a.*
FROM
	iuser u, authority a
WHERE
	u.user_id = a.user_id AND u.kakao_id = #{socialEmail}
		]]>
	</select>
	
	<!-- 네이버 유저 찾기 -->
	<select id="findNaverUser" resultMap="iUserMap">
		<![CDATA[
SELECT
	u.*, a.*
FROM
	iuser u, authority a
WHERE
	u.user_id = a.user_id AND u.naver_id = #{socialEmail}
		]]>
	</select>
	
	<!-- 구글 유저 찾기 -->
	<select id="findGoogleUser" resultMap="iUserMap">
		<![CDATA[
SELECT
	u.*, a.*
FROM
	iuser u, authority a
WHERE
	u.user_id = a.user_id AND u.google_id = #{socialEmail}
		]]>
	</select>
	
	<!-- 유저 닉네임 중복 체크 -->
	<select id="checkOverNickname" parameterType="String" resultType="int">
		<![CDATA[
SELECT
	count(*)
FROM
	iuser
WHERE
	user_nickname = #{userNickname}
		]]>
	</select>
	
	<!-- 유저 이메일 중복 체크 -->
	<select id="checkOverEmail" parameterType="String" resultType="int">
		<![CDATA[
SELECT
	count(*)
FROM
	iuser
WHERE
	user_email = #{userEmail}
		]]>
	</select>

	<!-- 7. 필요한 데이터를 추출할 sql문을 작성한다. -->
	<!--  ![CDATA] 는 아래 코드를 xml문이 아닌 sql문으로 인식하게 하는 것이다.-->
	<select id="selectOne" resultMap="iUserMap">
		<![CDATA[
SELECT
	u.*, a.*
FROM 
	iuser u, authority a
WHERE
	u.user_id = a.user_id AND u.user_email = #{userEmail}
		]]>
	</select>

</mapper>