<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.MypageTrainerMapper">
<!-- iclass  -->
	<resultMap type="com.iruri.ex.vo.IClassVO" id="iClassMap">
		<result property="classId" column="CLASS_ID"/>
		<result property="classTitle" column="CLASS_TITLE"/>
		<result property="classContent" column="CLASS_CONTENT"/>
		<result property="classGoal" column="CLASS_GOAL"/>
		<result property="classExerciseCount" column="CLASS_EXERCISECOUNT"/>
		<result property="classStartDate" column="CLASS_STARTDATE"/>
		<result property="classEndDate" column="CLASS_ENDDATE"/>
		<result property="classImage" column="CLASS_IMAGE"/>
		<result property="classLike" column="CLASS_LIKE"/>
		<result property="classState" column="CLASS_STATE"/>
		<result property="classHit" column="CLASS_HIT"/>
		<result property="classJoinMember" column="CLASS_JOINMEMBER"/>
		<result property="classTrainerInfo" column="CLASS_TRAINERINFO"/>
		<result property="classTotalMember" column="CLASS_TOTALMEMBER"/>
		<result property="classPrice" column="CLASS_PRICE"/>
		<result property="classNeed" column="CLASS_NEED"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="classLevel" column="CLASS_LEVEL"/>
		<result property="rnum" column="rnum"/>
		<result property="classTime" column="CLASS_TIME"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
	</resultMap>
	
<!-- money -->
	<resultMap type="com.iruri.ex.vo.MoneyVO" id="moneyMap">
		<result property="moneyId" column="MONEY_ID"/>
		<result property="moneyDate" column="MONEY_DATE"/>
		<result property="moneyInput" column="MONEY_INPUT"/>
		<result property="moneyOutput" column="MONEY_OUTPUT"/>
		<result property="payId" column="PAY_ID"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
	</resultMap>
	
<!-- pay -->
    <resultMap type="com.iruri.ex.vo.PayVO" id="payMap">
		<result property="payId" column="PAY_ID"/>
		<result property="payState" column="PAY_STATE"/>
		<result property="payWay" column="PAY_WAY"/>
		<result property="buyId" column="BUY_ID"/>
	</resultMap>
	
<!-- buy -->
	<resultMap type="com.iruri.ex.vo.BuyVO" id="buyMap">
		<result property="buyId" column="BUY_ID"/>
		<result property="buyRealpay" column="BUY_REALPAY"/>
		<result property="buyPoint" column="BUY_POINT"/>
		<result property="buyDate" column="BUY_DATE"/>
		<result property="payId" column="PAY_ID"/>
		<result property="classId" column="CLASS_ID"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
		
		<collection property="iClassList" resultMap="iClassMap">
		</collection>
		
		<collection property="moneyList" resultMap="moneyMap">
		</collection>
		
		<collection property="payList" resultMap="payMap">
		</collection>
	
	</resultMap>
	
	<!-- ProfitVO -->
	<resultMap type="com.iruri.ex.vo.ProfitVO" id="ProfitMap">
		<result property="buyRealpay" column="BUY_REALPAY"/>
		<result property="buyPoint" column="BUY_POINT"/>
		<result property="buyDate" column="BUY_DATE"/>
		<result property="classId" column="CLASS_ID"/>
		<result property="classTitle" column="CLASS_TITLE"/>
		<result property="rnum" column="rnum"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
	</resultMap>

	
	<!-- trainerUserManagementVO -->
	<resultMap type="com.iruri.ex.vo.trainerUserManagementVO" id="trainerUserManagementMap">
		<result property="classId" column="CLASS_ID"/>
		<result property="classTitle" column="CLASS_TITLE"/>
		<result property="classEndDate" column="CLASS_ENDDATE"/>
		<result property="classState" column="CLASS_STATE"/>
		<result property="classJoinMember" column="CLASS_JOINMEMBER"/>
		<result property="rnum" column="rnum"/>
		
		<collection property="iUserList" resultMap="iUserMap">
		</collection>
		
		<collection property="iCommentList" resultMap="iCommentMap">
		</collection>
	
	</resultMap>
	
	<!-- IUserVO -->
	<resultMap type="com.iruri.ex.vo.IUserVO" id="iUserMap">
		<result property="userId" column="user_id"/>
		<result property="userEmail" column="user_email"/>
		<result property="userPw" column="user_pw"/>
		<result property="userNickname" column="user_nickname"/>
		<result property="userName" column="user_name"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userSigndate" column="user_signdate"/>
		<result property="userPoint" column="user_point"/>
		<result property="userBlackList" column="user_blacklist"/>
		<result property="userBlaskListReason" column="user_blacklist_reason"/>
	</resultMap>
	
	<!-- ICommentVO -->
	<resultMap type="com.iruri.ex.vo.ICommentVO" id="iCommentMap">
		<result property="commentId" column="user_id"/>
		<result property="commentDate" column="user_email"/>
		<result property="commentContent" column="user_pw"/>
		<result property="userNickname" column="user_nickname"/>
		<result property="userPhone" column="user_name"/>
		<result property="classId" column="user_phone"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />
	</resultMap>
	
	
	
	
	<!-- 현재 진행중인 클래스(+페이징)  -->
	<select id="countMypageTrainerClass" resultType="int">
	<![CDATA[
		select count(*) from iClass where user_id = #{userId} and CLASS_ENDDATE >= sysdate
	]]>
	</select>

	<!-- 트레이너의 총수익 뽑기  -->
	<select id="trainerProfit" resultType="int">
		<![CDATA[
	SELECT (select sum(buy_realpay + buy_point)
from buy where class_id in (select class_id from iclass where user_id = #{userId}))
-
(select sum(money_output) from money where pay_id in 
(select pay_id from pay where buy_id in 
(select buy_id from buy where class_id in (select class_id from iclass where user_id = #{userId})))) FROM DUAL
		]]>
	</select>

	<!-- 트레이너의 월별 수익 뽑기  -->
	<select id="monthProfit" resultType="int">
		<![CDATA[
		select (select sum(buy_realpay + buy_point) 
from buy where class_id in (select class_id from iclass where user_id= #{userId}) 
and buy_date BETWEEN (SELECT TRUNC(SYSDATE, 'MM') FROM DUAL) 
and (SELECT LAST_DAY(SYSDATE) FROM DUAL)
-
(select sum(money_output) from money where pay_id in 
(select pay_id from pay where buy_id in 
(select buy_id from buy where class_id in (select class_id from iclass where user_id=#{userId}) 
and buy_date BETWEEN (SELECT TRUNC(SYSDATE, 'MM') FROM DUAL) 
and (SELECT LAST_DAY(SYSDATE) FROM DUAL)
)))) as thisMonthProfit from dual
		]]>
	</select>
	
	
	<!-- 트레이너 수익 페이징 -->
	<select id="getTotalCount_mypageTrainerProfit" resultType="int">
	<![CDATA[
		select count(*) from buy, iclass
where buy.class_id=iclass.class_id and iclass.user_id=#{userId}
order by buy.buy_date desc
	]]>
	</select>
	
	<!-- 트레이너의 월별 수익 뽑기 + 페이징 -->
	<select id="profitList" parameterType="HashMap" resultMap="ProfitMap">
		<![CDATA[
				SELECT *
FROM
(
    SELECT ROWNUM rn, c.*
    FROM
    (
        SELECT buy_date, class_title, buy_realpay, buy_point
        FROM buy, iclass
        where buy.class_id=iclass.class_id and iclass.user_id = #{userId}
        order by buy.buy_date desc
    ) C
     WHERE rownum <= #{cri.pageNum} * #{cri.amount}
)
WHERE rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	
	<!-- 회원관리 페이징 -->
	<select id="getTotal_trainerUserManagement" resultType="int">
	<![CDATA[
		select count(*)
from (
select ids.class_id
from (
select  c.class_id, c.class_title, user_nickname, user_phone, c.class_joinmember,c.class_enddate 
from iuser, 
(select buy.buy_id, buy.user_id, iclass.class_id, iclass.class_title, iclass.class_joinmember, iclass.class_enddate 
from buy,iclass,pay
where buy.class_id = iclass.class_id and iclass.user_id= #{userId} and pay.buy_id = buy.buy_id
and pay.pay_state='pay'
order by buy.user_id)c 
where c.user_id = iuser.user_id) ids
group by ids.class_id) li
	]]>
	</select>
	
	<!-- 회원관리 + 페이징 -->
	<select id="trainerUserManagement" parameterType="HashMap" resultMap="trainerUserManagementMap">
		<![CDATA[
				SELECT *
FROM
(
    SELECT ROWNUM rn, bc.*
    FROM
    (
        select  c.class_id, c.class_title, user_nickname, user_phone, c.class_joinmember,c.class_enddate, c.class_state 
from iuser, 
(select buy.buy_id, buy.user_id, iclass.class_id, iclass.class_title, 
iclass.class_joinmember, iclass.class_enddate, iclass.class_state 
from buy,iclass,pay
where buy.class_id = iclass.class_id and iclass.user_id=#{userId} and pay.buy_id = buy.buy_id
and pay.pay_state='pay'
order by buy.user_id)c 
where c.user_id = iuser.user_id
order by class_id desc
    ) bc
     WHERE rownum <= #{cri.pageNum} * #{cri.amount}
)
WHERE rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	


</mapper>