<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruri.ex.mapper.PtClassMapper">

	<resultMap type="com.iruri.ex.vo.BoardVO" id="boardMap">
		<result property="boardId" column="BOARD_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardFile" column="BOARD_FILE"/>
		<result property="boardDate" column="BOARD_DATE"/>
		<result property="boardState" column="BOARD_STATE"/>
		<result property="boardHit" column="BOARD_HIT"/>
		<result property="boardLike" column="BOARD_LIKE"/>
		<result property="boardGroupId" column="BOARD_GROUPID"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="rnum" column="rnum"/>	
		<result property="classId" column="CLASS_ID"/>
		<association property="iUserVO" column="USER_ID" javaType="com.iruri.ex.vo.IUserVO" resultMap="com.iruri.ex.mapper.IUserMapper.iUserMap" />	
	</resultMap>

	<!-- PT 클래스 생성 -->
	<insert id="insertPtClass">
		<![CDATA[
INSERT ALL
INTO iclass
(
	CLASS_ID, 
	CLASS_TITLE,
    CLASS_NEED, 
    CLASS_LEVEL,
	CLASS_STARTDATE, 
    CLASS_ENDDATE, 
	CLASS_TIME,
    CLASS_TOTALMEMBER, 
    CLASS_PRICE, 
	CLASS_GOAL, 
	CLASS_CONTENT, 
    CLASS_TRAINERINFO, 
    CLASS_IMAGE,
    CLASS_STATE,
    CATEGORY_ID,
    USER_ID
) 
VALUES
(
	(SELECT NVL(MAX(class_id), MAX(class_id)) + 1 FROM iclass), 
	#{classTitle},
    #{classNeed}, 
    #{classLevel},
	#{classStartDate}, 
 	#{classEndDate},
 	#{classTime},
    #{classTotalMember}, 
    #{classPrice}, 
	#{classGoal}, 
	#{classContent}, 
 	#{classTrainerInfo}, 
 	#{classImage}, 
    'show',
    2, 
    #{iUserVO.userId}
)
		]]>

		<foreach collection="exerciseDateList" item="date">
INTO EXERCISE_DATE
(
	EXERCISE_DATE,
	CLASS_ID
)
VALUES
(
	#{date.exerciseDate},
	(SELECT NVL(MAX(class_id), MAX(class_id)) + 1 FROM iclass)
)
		</foreach>
		
		<foreach collection="exerciseKindList" item="kind">
INTO EXERCISE_KIND
(
	EXERCISE_KIND,
	CLASS_ID
)
VALUES
(
	#{kind.exerciseKind},
	(SELECT NVL(MAX(class_id), MAX(class_id)) + 1 FROM iclass)
)
		</foreach>		
SELECT * FROM DUAL
	</insert>
	
	<select id="recommendList" resultMap="com.iruri.ex.mapper.IClassMapper.iClassMap">
<![CDATA[
SELECT 
*
FROM
(
	SELECT 
		ic.*, iu.user_nickname
	FROM 
		iclass ic, iuser iu
	WHERE 
		ic.user_id = iu.user_id and ic.category_id = 2 and ic.class_enddate >= sysdate and class_state = 'show'
	ORDER BY 
		ic.class_like DESC
)
WHERE 
	ROWNUM <= 2
]]>
	</select>
	
	<sql id="searchKeyword">
		<if test='g1 != null and g2 == null'>
			and iu.user_id = iuserinfo.user_id 
			and iuserinfo.user_gender = '남성'
        </if>
        <if test='g1 == null and g2 != null'>
			and iu.user_id = iuserinfo.user_id 
			and iuserinfo.user_gender = '여성'
        </if>
        
        <if test='ek1 != null'>
			and exercise_kind like '%'||'헬스'||'%'
        </if>
        <if test='ek2 != null'>
			and exercise_kind like '%'||'필라테스'||'%'
        </if>
        <if test='ek3 != null'>
			and exercise_kind like '%'||'요가'||'%'
        </if>
        <if test='ek4 != null'>
			and exercise_kind like '%'||'바디프로필'||'%'
        </if>
        <if test='ek5 != null'>
			and exercise_kind like '%'||'댄스'||'%'
        </if>
        
        <if test='p1 != null'>
       	<![CDATA[
			and class_price <= 100000
		]]> 
        </if>
        <if test='p2 != null'>
		<![CDATA[
			and class_price <= 200000
		]]> 
        </if>
        <if test='p3 != null'>
		<![CDATA[
			and class_price <= 300000
		]]> 
        </if>
        <if test='p4 != null'>
		<![CDATA[
			and class_price >= 300000
		]]> 
        </if>
        
        <if test='ed1 != null'>
		<![CDATA[
			and ic.class_startdate <= to_char(add_months(sysdate,+1))
		]]> 
        </if>
        <if test='ed2 != null'>
		<![CDATA[
			and ic.class_startdate <= to_char(add_months(sysdate,+2))
		]]> 
        </if>
        <if test='ed3 != null'>
		<![CDATA[
			and ic.class_startdate <= to_char(add_months(sysdate,+3))
		]]> 
        </if>
        <if test='ed4 != null'>
		<![CDATA[
			and ic.class_startdate >= to_char(add_months(sysdate,+3))
		]]> 
        </if>
        
        <if test='day1 != null'>
		<![CDATA[
			and exercise_date like '%'||'월'||'%'
		]]> 
        </if>
        <if test='day2 != null'>
		<![CDATA[
			and exercise_date like '%'||'화'||'%'
		]]> 
        </if>
        <if test='day3 != null'>
		<![CDATA[
			and exercise_date like '%'||'수'||'%'
		]]> 
        </if>
        <if test='day4 != null'>
		<![CDATA[
			and exercise_date like '%'||'목'||'%'
		]]> 
        </if>
        <if test='day5 != null'>
		<![CDATA[
			and exercise_date like '%'||'금'||'%'
		]]> 
        </if>
        <if test='day6 != null'>
		<![CDATA[
			and exercise_date like '%'||'토'||'%'
		]]> 
        </if>
        <if test='day7 != null'>
		<![CDATA[
			and exercise_date like '%'||'일'||'%'
		]]> 
        </if>
        
        <if test='el1 != null and el2 == null and el3 == null'>
		<![CDATA[
			and class_level = 'easy'
		]]> 
        </if>
        <if test='el1 == null and el2 != null and el3 == null'>
		<![CDATA[
			and class_level = 'normal'
		]]> 
        </if>
        <if test='el1 == null and el2 == null and el3 != null'>
		<![CDATA[
			and class_level = 'hard'
		]]> 
        </if>
        <if test='el1 != null and el2 != null and el3 == null'>
		<![CDATA[
			and class_level in ('easy', 'normal')
		]]> 
        </if>
        <if test='el1 == null and el2 != null and el3 != null'>
		<![CDATA[
			and class_level in ('normal', 'hard')
		]]> 
        </if>
        <if test='el1 != null and el2 == null and el3 != null'>
		<![CDATA[
			and class_level in ('easy', 'hard')
		]]> 
        </if>
        
        <if test='ep1 != null and ep2 == null and ep3 == null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (1)
		]]> 
        </if>
        <if test='ep1 == null and ep2 != null and ep3 == null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (2)
		]]> 
        </if>
        <if test='ep1 == null and ep2 == null and ep3 != null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (4)
		]]> 
        </if>
        <if test='ep1 == null and ep2 == null and ep3 == null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (6)
		]]> 
        </if>
        <if test='ep1 != null and ep2 != null and ep3 == null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (1,2)
		]]> 
        </if>
        <if test='ep1 != null and ep2 == null and ep3 != null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (1,4)
		]]> 
        </if>
        <if test='ep1 != null and ep2 == null and ep3 == null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (1,6)
		]]> 
        </if>
        <if test='ep1 != null and ep2 != null and ep3 != null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (1,2,4)
		]]> 
        </if>
        <if test='ep1 != null and ep2 != null and ep3 == null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (1,2,6)
		]]> 
        </if>
		<if test='ep1 != null and ep2 == null and ep3 != null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (1,4,6)
		]]> 
        </if>
		<if test='ep1 == null and ep2 != null and ep3 != null and ep4 == null'>
		<![CDATA[
			and class_totalmember in (2,4)
		]]> 
        </if>     
        <if test='ep1 == null and ep2 != null and ep3 == null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (2,6)
		]]> 
        </if>     
        <if test='ep1 == null and ep2 != null and ep3 != null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (2, 4, 6)
		]]> 
        </if>     
        <if test='ep1 == null and ep2 == null and ep3 != null and ep4 != null'>
		<![CDATA[
			and class_totalmember in (4, 6)
		]]> 
        </if>
	</sql>
	
	<!-- 전체 클래스 토탈 넘버 -->
	<select id="getTotalClassAll" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass ic, iuser iu,
(
    SELECt exkind.*, exdate.exercise_date
    FROM
    (
        SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
        FROM exercise_kind
        GROUP BY class_id
    ) exkind,
    (
        SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
        FROM exercise_date
        GROUP BY class_id
    ) exdate
    WHERE exkind.class_id = exdate.class_id
) exercise
WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate >= sysdate and ic.user_id = iu.user_id and ic.class_state = 'show'
]]>
		
     <include refid="searchKeyword" />       
	</select>
	
	<!-- 전체 클래스 리스트 -->
	<select id="getClassList" resultMap="com.iruri.ex.mapper.ChallengeMapper.iClassMap">
<![CDATA[
SELECT 
	*
FROM
(
    SELECT ROWNUM AS RNUM, classlist.*
    FROM
    (
        SELECT ic.class_id, ic.class_totalmember, ic.class_image, iu.user_nickname, ic.class_title, ic.class_startdate, ic.class_enddate, ic.class_time, ic.class_level, exercise_kind, exercise_date, ic.class_price
        FROM iclass ic, iuser iu,
        (
            SELECt exkind.*, exdate.exercise_date
            FROM
            (
                SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
                FROM exercise_kind
                GROUP BY class_id
            ) exkind,
            (
                SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
                FROM exercise_date
                GROUP BY class_id
            ) exdate
            WHERE exkind.class_id = exdate.class_id
        ) exercise
        WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate >= sysdate and ic.user_id = iu.user_id and ic.class_state = 'show'
]]>
         <include refid="searchKeyword"/>
<![CDATA[
    ) classlist
    WHERE   ROWNUM <= #{cri.pageNum} * #{cri.amount}
)
WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
]]>
	</select>
	
	<!-- 구매한 클래스 토탈 넘버 -->
	<select id="getTotalClassBuy" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass ic, iuser iu, iuserinfo, buy, pay,
(
    SELECt exkind.*, exdate.exercise_date
    FROM
    (
        SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
        FROM exercise_kind
        GROUP BY class_id
    ) exkind,
    (
        SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
        FROM exercise_date
        GROUP BY class_id
    ) exdate
    WHERE exkind.class_id = exdate.class_id
) exercise
WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate >= sysdate and ic.user_id = iu.user_id and ic.class_state = 'show' and
buy.buy_id = pay.buy_id and buy.user_id = #{userId} and pay.pay_state = 'pay' and buy.class_id = ic.class_id and iu.user_id = iuserinfo.user_id
]]>
		 <include refid="searchKeyword"/>
	</select>
	
	<!-- 구매한 클래스 리스트 -->
	<select id="getBuyClassList" resultMap="com.iruri.ex.mapper.ChallengeMapper.iClassMap">
<![CDATA[
SELECT *
FROM
(
    SELECT ROWNUM AS RNUM, clsre.*
    FROM
    (
        SELECT iclass.class_id
        FROM buy, pay, iclass
        WHERE buy.buy_id = pay.buy_id and buy.user_id = 5
        and pay.pay_state = 'pay' and buy.class_id = iclass.class_id and iclass.category_id = 2 and iclass.class_state = 'show'
    ) buyre,
    (
        SELECT ic.*, iu.user_nickname
        FROM iuser iu, iuserinfo,
        (
            SELECT ic.class_id, ic.user_id, ic.class_totalmember, ic.class_image, ic.class_title, ic.class_startdate, ic.class_time, ic.class_level, ic.class_enddate, ic.class_price, exercise.exercise_kind, exercise.exercise_date
            FROM iclass ic,
            (
                SELECT exkind.*, exdate.exercise_date
                FROM
                (
                    SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
                    FROM exercise_kind
                    GROUP BY class_id
                ) exkind,
                (
                    SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
                    FROM exercise_date
                    GROUP BY class_id
                ) exdate
                WHERE exkind.class_id = exdate.class_id
            ) exercise
            WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and ic.class_state = 'show' and class_enddate >= sysdate
        ) ic
        WHERE ic.user_id = iu.user_id and iu.user_id = iuserinfo.user_id
]]>
		 <include refid="searchKeyword" />
<![CDATA[
    ) clsre
    WHERE clsre.class_id = buyre.class_id and ROWNUM <= #{cri.pageNum} * #{cri.amount}
)
WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
]]>
	</select>
	
	<!-- 관심 클래스 토탈 넘버 -->
	<select id="getTotalClassInterest" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass ic, iuser iu, iuserinfo, likelist li,
(
    SELECt exkind.*, exdate.exercise_date
    FROM
    (
        SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
        FROM exercise_kind
        GROUP BY class_id
    ) exkind,
    (
        SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
        FROM exercise_date
        GROUP BY class_id
    ) exdate
    WHERE exkind.class_id = exdate.class_id
) exercise
WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate >= sysdate and ic.user_id = iu.user_id and ic.class_state = 'show' 
and iu.user_id = iuserinfo.user_id and ic.class_id = li.class_id and li.user_id = #{userId}
]]>
		<include refid="searchKeyword"/>
	</select>
	
	<!-- 관심 클래스 리스트 -->
	<select id="getInterestClassList" resultMap="com.iruri.ex.mapper.ChallengeMapper.iClassMap">
<![CDATA[
SELECT *
FROM
(
    SELECT ROWNUM AS RNUM, clss.*
    FROM likelist li,
    (
        SELECT ic.*, iu.user_nickname
        FROM iuser iu, iuserinfo,
        (
            SELECT ic.class_id, ic.user_id, ic.class_totalmember, ic.class_image, ic.class_title, ic.class_startdate, ic.class_enddate, ic.class_time, ic.class_level, ic.class_price, ic.class_state, exercise.exercise_kind, exercise.exercise_date
            FROM iclass ic,
            (
                SELECT exkind.*, exdate.exercise_date
                FROM
                (
                    SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
                    FROM exercise_kind
                    GROUP BY class_id
                ) exkind,
                (
                    SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
                    FROM exercise_date
                    GROUP BY class_id
                ) exdate
                WHERE exkind.class_id = exdate.class_id
            ) exercise
            WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and ic.class_state = 'show' and class_enddate >= sysdate
        ) ic
        WHERE ic.user_id = iu.user_id and iu.user_id = iuserinfo.user_id
]]>
        <include refid="searchKeyword" />

<![CDATA[
    ) clss
    WHERE clss.class_id = li.class_id and class_state = 'show' and clss.class_enddate >= sysdate and li.user_id = #{userId} and ROWNUM <= #{cri.pageNum} * #{cri.amount}
)
WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
]]>
	</select>
	
	<!-- 지난 클래스 총 갯수-->
	<select id="getTotalClassPast" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass ic, iuser iu, iuserinfo,
(
    SELECt exkind.*, exdate.exercise_date
    FROM
    (
        SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
        FROM exercise_kind
        GROUP BY class_id
    ) exkind,
    (
        SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
        FROM exercise_date
        GROUP BY class_id
    ) exdate
    WHERE exkind.class_id = exdate.class_id
) exercise
WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate < sysdate and ic.user_id = iu.user_id and ic.class_state = 'show'
]]>
	<include refid="searchKeyword" />
	</select>
	
	<!-- 지난 클래스 리스트 -->
<select id="getPastClassList" resultMap="com.iruri.ex.mapper.ChallengeMapper.iClassMap">
<![CDATA[
SELECT *
FROM
(
    SELECT ROWNUM AS RNUM, classlist.*
    FROM
    (
        SELECT ic.class_id, ic.class_totalmember, ic.class_image, iu.user_nickname, ic.class_title, ic.class_startdate, ic.class_enddate, ic.class_time, ic.class_level, exercise_kind, exercise_date, ic.class_price
        FROM iclass ic, iuser iu, iuserinfo,
        (
            SELECt exkind.*, exdate.exercise_date
            FROM
            (
                SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
                FROM exercise_kind
                GROUP BY class_id
            ) exkind,
            (
                SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
                FROM exercise_date
                GROUP BY class_id
            ) exdate
            WHERE exkind.class_id = exdate.class_id
        ) exercise
        WHERE ic.class_id = exercise.class_id and ic.category_id = 2 and class_enddate < sysdate and ic.user_id = iu.user_id and iu.user_id = iuserinfo.user_id
]]>
		<include refid="searchKeyword" />
<![CDATA[
    ) classlist
    WHERE   ROWNUM <= #{cri.pageNum} * #{cri.amount}
)
WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
]]>
   </select>
   
   <select id="joinCheck" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass
WHERE iclass.class_id = #{classId} and iclass.class_state = 'show' and class_enddate >= sysdate
]]>
   </select>
   
      <select id="joinCheckNum" resultType="int">
<![CDATA[
SELECT COUNT(*)
FROM buy, pay
WHERE buy.buy_id = pay.buy_id and class_id = #{classId} and user_id = #{userId}
]]>
   </select>
   
   <select id="ptSelectOne" resultMap="com.iruri.ex.mapper.ChallengeMapper.iClassMap">
<![CDATA[
SELECT ic.*, iu.user_nickname, exercise.exercise_kind, exercise.exercise_date
FROM iclass ic, iuser iu,
(
    SELECt exkind.*, exdate.exercise_date
    FROM
    (
        SELECT class_id, LISTAGG(exercise_kind, ',') WITHIN GROUP(ORDER BY exercise_kind DESC) AS exercise_kind
        FROM exercise_kind
        GROUP BY class_id
    ) exkind,	
    (
        SELECT class_id, LISTAGG(exercise_date, ',') WITHIN GROUP(ORDER BY exercise_date DESC) AS exercise_date
        FROM exercise_date
        GROUP BY class_id
    ) exdate
    WHERE exkind.class_id = exdate.class_id
) exercise
WHERE ic.class_id = exercise.class_id and ic.user_id = iu.user_id and ic.class_id = #{classId}
]]>
   </select>
   
   <select id="ptSelectCount" resultType="int">
<![CDATA[
SELECT count(*)
FROM iclass, buy, pay
WHERE buy.buy_id = pay.buy_id and buy.class_id = iclass.class_id and iclass.class_id = #{classId}
]]>
   </select>
   
   <select id="ptClassCertifyCount" resultType="int">
<![CDATA[
SELECT count(*) 
FROM board b, iclass i
WHERE b.category_id = 5 and b.board_groupid = i.class_id and i.class_id = #{classId}
]]>
   </select>
   
   <select id="ptClassCertifyList" resultMap="boardMap">
<![CDATA[
SELECT *
FROM
(
	SELECT ROWNUM rnum, c.*
	FROM
	(
		SELECT B.*, u.user_nickname 
		FROM board B, iclass A, iuser u
		WHERE B.category_id=5 and B.board_groupid=A.class_id and A.class_id=#{classId} and u.user_id=B.user_id
		ORDER BY B.board_date desc
	) C
	WHERE rownum <= #{cri.pageNum} * #{cri.amount} 
)	
WHERE rnum > (#{cri.pageNum}-1) * #{cri.amount}
]]>
   </select>
   
   <select id="ptClassReplyCount" resultType="int">
<![CDATA[
SELECT count(*) 
FROM board b, iclass i
WHERE b.category_id=6 and b.board_groupid=i.class_id and i.class_id=#{classId}
and board_state='show'
]]>
   </select>
   
   <select id="ptClassReplyList" resultMap="boardMap">
<![CDATA[
SELECT *
FROM
(
    SELECT ROWNUM rnum, c.*
    FROM
    (
       SELECT B.*, u.user_nickname 
       FROM board B, iclass A, iuser u
	   where B.category_id=6 and B.board_groupid=A.class_id and A.class_id=#{classId} and u.user_id=B.user_id
	   and B.board_state='show' order by B.board_date desc
    ) C
    WHERE rownum <= #{cri.pageNum} * #{cri.amount} 
)	
WHERE rnum > (#{cri.pageNum}-1) * #{cri.amount}
]]>
	</select>
	
	<insert id="insertptClassCertify">
<![CDATA[
INSERT INTO BOARD
(
	board_id, 
	board_title, 
	board_content, 
	board_file, 
	board_date, 
	board_state,
	board_hit, 
	board_like, 
	board_groupId, 
	category_id, 
	user_id
)
			
VALUES
(
	(SELECT NVL(MAX(board_id), MAX(board_id)) + 1 FROM board),
	#{boardTitle},
	#{boardContent},
	#{boardFile},
	sysdate, 
	'show',
	0,
	0,
	#{boardGroupId},
	5,
	#{iUserVO.userId}
)
]]>
	</insert>
	
	<select id="getBuyId" resultType="int">
<![CDATA[
SELECT DISTINCT(SELECT NVL(MAX(buy_id), MAX(buy_id)) FROM buy) buy_id
FROM buy
]]>
	</select>
	
	<insert id="insertQuery">
<![CDATA[
INSERT ALL
INTO buy
(
	buy_id,
	buy_realpay,
	user_id,
	pay_id,
	class_id
) 
VALUES
(
	(SELECT NVL(MAX(buy_id), MAX(buy_id)) + 1 FROM buy),
	#{buyRealPay},
	#{userId},
	(SELECT NVL(MAX(pay_id), MAX(pay_id)) + 1 FROM pay),
	#{classId} 
)

INTO pay
(
	pay_id,
	pay_state,
	pay_way,
	buy_id
) 
VALUES
(
	(SELECT NVL(MAX(pay_id), MAX(pay_id)) + 1 FROM pay),
	'wait',
	'카드',
	(SELECT NVL(MAX(buy_id), MAX(buy_id)) + 1 FROM buy)
)			
SELECT * FROM DUAL
]]>
	</insert>
	
	<select id="getRealPay" resultType="int">
<![CDATA[
SELECT buy_realpay
FROM buy
WHERE buy_id = #{buyId}
]]>
	</select>
	
	<update id="updatePay">
<![CDATA[
UPDATE pay
SET pay_state = 'pay'
WHERE buy_id = #{buyId}
]]>
	</update>
	
	<update id="updateCancle">
<![CDATA[
UPDATE pay
SET pay_state = 'cancle'
WHERE buy_id = #{buyId}
]]>
	</update>
	
	<select id="getCertifySelectOne" resultMap="boardMap">
<![CDATA[
SELECT *
FROM board, iuser
WHERE board.user_id = iuser.user_id and board_id = #{boardId}
]]>
	</select>
	
	<insert id="insertReply">
<![CDATA[
INSERT INTO board 
(
	board_id, 
	board_title, 
	BOARD_CONTENT, 
	board_date,
	board_state, 
	board_hit, 
	board_like, 
	board_groupid, 
	category_id, 
	user_id
)

VALUES
(
	(SELECT NVL(MAX(board_id), MAX(board_id)) + 1 FROM board),
	'챌린지댓글',
	#{boardContent},
	sysdate,
	'show',
	0,
	0,
	#{boardGroupId},
	6,
	#{userId}
)
]]>
	</insert>
   
</mapper>